div > p {
  font-size: 14px;
}

.btn-more {
  border: 1px solid gray;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 3rem;
}

.section {
  position: absolute;
  color: white;
  max-width: 70vw;
  flex-direction: column;
  left: 0;
  top: 29vh;
  display: none;
  opacity: 0;
}
