.kontakt {
  left: 13vw;
  width: 120vw;
  display: flex;
  position: absolute;
  opacity: 1;
  top: 0;
}

.kontakt__container {
  display: flex;
  flex-direction: row;
  width: 87vw;
  justify-content: space-between;
}

.kontakt__text {
  opacity: 0;
  position: relative;
  flex-direction: column;
  max-width: 24vw;
  left: -10%;
  align-self: center;
}

.map-container {
  opacity: 0;
  position: relative;
  right: -96vw;
  height: 100vh;
  width: 45%;
  background: grey;
  min-width: 400px;
}
