.uslugi {
    color: white;
    display: none;
    position: absolute;
    max-width: 90vw;
    left: 0;
    opacity: 0;
    top: 29vh;
}

.uslugi__text {
    display: flex;
    flex-direction: column;
}

.paragraph {
    max-width: 30vw;
    float: left;
}

.paragraph p {
    font-size: 14px;
}

.console {
    display: none;
    @media (min-width: $desktop-breakpoint) {
        border: solid 3px gray;
        height: 300px;
        width: 480px;
        float: right;
        right: -20vw;
        margin-left: 80px;
        margin-right: 1rem;
        opacity: 0;
        position: relative;
        display: flex;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.line-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 20%;
    margin-right: 0px;
}

.actual-line {
    background-color: white;
    height: 17rem;
    width: 2px;
    margin: auto;
    position: fixed;
}

.service__icon-container {
    width: 5rem;
    height: 5rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 1.2rem;
    position: relative;
    background-color: $light-black;
    margin: 0;
    bottom: -11rem;
    z-index: 7;
    transition: all 0.2s ease;
}

.service__number {
    top: 66%;
    position: relative;
    width: auto;
    text-align: center;
}

.event-icon {
    stroke: none;
    margin: 5px 0;
    fill: $green;
    opacity: 1;
    transition: all 0.2s ease;
}

.event-icon__animate {
    position: absolute;
    width: 57px;
    left: 0.6vw;
    bottom: 0.1vh;
    fill: none;
    stroke: $green;
    stroke-width: 8px;
    stroke-dasharray: 2023;
    opacity: 0;
}

.service__icon-container:hover .event-icon {
    opacity: 0;
}

.service__icon-container:hover .event-icon__animate {
    animation: animateIcon 1.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) forwards;
}

.service__icon-container:hover p.service-type {
    opacity: 0;
}

p.service-type {
    margin: 0;
    font-size: 12px;
    color: white;
    transition: all 0.2s ease;
}

#sound-icon {
    fill: $orange;
}

#sound-icon__animate {
    fill: none;
    width: 67px;
    stroke: $orange;
    position: absolute;
    left: 0.5vw;
    stroke-width: 17rem;
    bottom: -2.1vh;
    stroke-dasharray: 20630;
}

#oswietlenie-icon {
    fill: $aquamarine;
}

#oswietlenie-icon__animate {
    fill: none;
    width: 67px;
    stroke: $aquamarine;
    position: absolute;
    left: 6px;
    stroke-width: 5px;
    bottom: 20px;
    stroke-dasharray: 1771;
}

#ts-icon {
    fill: $violet;
}

#ts-icon__animate {
    width: 67px;
    left: 7px;
    bottom: 24px;
    fill: none;
    stroke: $violet;
    stroke-width: 5px;
    stroke-dasharray: 1650;
}

#proj-icon {
    fill: $red;
}

#proj-icon__animate {
    position: absolute;
    width: 57px;
    left: 12px;
    bottom: 11px;
    fill: none;
    stroke: $red;
    stroke-width: 3px;
    stroke-dasharray: 1756;
    opacity: 0;
}

@keyframes animateIcon {
    0% {
        stroke-dashoffset: -2016;
    }
    30% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}