
    <div class="icons">
        <a href="https://www.facebook.com/grupaZMP/" target="_blank"><svg class="icon" width="18.315mm" height="18.315mm"
                clip-rule="evenodd" fill-rule="evenodd" image-rendering="optimizeQuality" shape-rendering="geometricPrecision"
                text-rendering="geometricPrecision" version="1.0" viewBox="0 0 69.03 69.03" xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg">

                <path d="m57.03 12.02c-5.77-5.75-13.72-9.33-22.51-9.33s-16.74 3.57-22.49 9.33c-5.75 5.75-9.33 13.7-9.33 22.49s3.57 16.74 9.33 22.51c5.75 5.75 13.7 9.31 22.49 9.31s16.74-3.55 22.51-9.31c5.75-5.77 9.31-13.72 9.31-22.51s-3.55-16.74-9.31-22.49zm-22.51-12.02c9.54 0 18.16 3.86 24.41 10.11s10.11 14.87 10.11 24.41-3.86 18.16-10.11 24.41-14.87 10.11-24.41 10.11-18.16-3.86-24.41-10.11-10.11-14.87-10.11-24.41 3.86-18.16 10.11-24.41 14.87-10.11 24.41-10.11z" />
                <path d="m37.15 27.46v-2.83c0-1.36 0.9-1.68 1.55-1.68h3.96v-6.04h-5.45c-6.06 0-7.42 4.47-7.42 7.38v3.17h-3.52v4.26 2.79h3.55v17.62h7.05v-17.62h5.22l0.23-2.77 0.42-4.28h-5.6z" />

            </svg></a>
        <a href="https://m.me/grupaZMP" target="_blank">

            <svg class="icon" width="18.315mm" height="18.32mm" clip-rule="evenodd" fill-rule="evenodd"
                image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                version="1.0" viewBox="0 0 1831.54 1832.04" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                <path d="m915.77 455.98c-252.5 0-457.2 190.71-457.2 425.97 0 134.05 66.48 253.62 170.39 331.7v162.41l155.67-85.97c41.54 11.57 85.56 17.81 131.14 17.81 252.5 0 457.2-190.7 457.2-425.96s-204.7-425.96-457.2-425.96zm45.43 573.63l-116.42-124.95-227.18 124.95 249.9-266.94 119.27 124.95 224.34-124.95-249.91 266.94z" />
                <path d="m1512.6 318.95c-152.64-152.65-363.6-246.94-596.84-246.94-233.24-0.01-444.18 94.3-596.83 246.94-153.1 152.63-247.42 364.09-247.42 597.33 0 232.74 94.31 444.19 247.42 596.82 152.65 152.61 363.59 247.45 596.83 247.45 233.24-0.01 444.2-94.84 596.84-247.45 153.11-152.63 247.39-364.08 247.39-596.82 0-233.24-94.28-444.7-247.39-597.33zm-596.84-318.95c253.05 0 481.72 102.93 647.53 268.25 165.8 165.81 268.25 395 268.25 648.03 0.01 252.51-102.46 481.72-268.25 647.51-165.81 165.31-394.48 268.25-647.53 268.25s-481.72-102.93-647.53-268.25c-165.78-165.79-268.22-395-268.22-647.51 0.01-253.03 102.44-482.22 268.22-648.03 165.81-165.32 394.48-268.24 647.53-268.24v-0.01z" />
            </svg>

        </a>
        <a href="mailto:info@zmp-group.com">

            <svg class="icon" width="18.315mm" height="18.315mm" clip-rule="evenodd" fill-rule="evenodd"
                image-rendering="optimizeQuality" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                version="1.0" viewBox="0 0 1831.52 1831.51" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                <path d="m1513.1 318.95c-153.15-152.63-364.09-247.46-597.35-247.46-232.74-0.01-444.18 94.83-596.8 247.46-152.63 152.63-247.45 363.57-247.45 596.82 0 233.26 94.82 444.18 247.45 597.32 152.63 152.63 364.06 246.95 596.8 246.95 233.27-0.01 444.2-94.32 597.35-246.95 152.63-153.15 246.92-364.06 246.92-597.32s-94.29-444.19-246.92-596.82zm-597.35-318.95c253.03 0 482.22 102.42 647.54 268.25 165.81 165.81 268.23 394.49 268.23 647.52 0 253-102.42 481.7-268.23 647.52-165.31 165.81-394.51 268.23-647.54 268.23-252.51-0.01-481.68-102.42-647.51-268.23-165.81-165.83-268.25-394.51-268.25-647.52 0-253.04 102.43-481.71 268.25-647.52 165.83-165.83 395-268.24 647.51-268.24v-0.01z" />
                <path d="m1279.8 587.07h-727.93c-51.44 0-93.28 41.63-93.28 93.28v470.79c0 51.65 41.84 93.31 93.28 93.31h727.93c51.35 0 93.19-41.66 93.19-93.31v-470.79c0-51.65-41.84-93.28-93.19-93.28zm-378.37 470.87s10.2 15.78 29.47-2.6c5.03-4.94 34.84-34.75 75.78-75.98l220.33 213.32h-626.74l216.7-218.98 84.46 84.24zm-390.98 93.2v-470.79c0-3.89 0.6-7.72 1.53-11.31l272.4 272.07-249.39 247.94c-14.33-6.37-24.54-21-24.54-37.91zm810.71 0c0 18.34-11.76 33.69-28.17 39.38l-248.78-248.78c101.75-102.08 239.51-240.86 274.37-275.81 1.74 4.55 2.58 9.37 2.58 14.42v470.79z"
                    fill-rule="nonzero" />
            </svg>

        </a>
        <a title="tel" href="tel:+48795356722">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="18.3154mm" height="18.3204mm"
                version="1.0" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 1831.54 1832.04">

                <path d="M1512.59 318.95c-152.64,-152.65 -363.6,-246.94 -596.84,-246.94 -233.24,-0.01 -444.18,94.3 -596.83,246.94 -153.1,152.63 -247.42,364.09 -247.42,597.33 0,232.74 94.31,444.19 247.42,596.82 152.65,152.61 363.59,247.45 596.83,247.45 233.24,-0.01 444.2,-94.84 596.84,-247.45 153.11,-152.63 247.39,-364.08 247.39,-596.82 0,-233.24 -94.28,-444.7 -247.39,-597.33l0 0zm-596.84 -318.95c253.05,0 481.72,102.93 647.53,268.25 165.8,165.81 268.25,395 268.25,648.03 0.01,252.51 -102.46,481.72 -268.25,647.51 -165.81,165.31 -394.48,268.25 -647.53,268.25 -253.05,0 -481.72,-102.93 -647.53,-268.25 -165.78,-165.79 -268.22,-395 -268.22,-647.51 0.01,-253.03 102.44,-482.22 268.22,-648.03 165.81,-165.32 394.48,-268.24 647.53,-268.24l0 -0.01z" />
                <path fill-rule="nonzero" d="M1079.65 1048.7l-119.09 119.96c-69.27,-40.96 -127.72,-98.42 -170.28,-169.22 -42.88,-71.3 -66.21,-150.21 -69.56,-231l168.63 -67.59 -80.14 -292.57c0,0 -236.03,60.75 -274.67,172.22 -44.91,179.77 -17.05,366.31 78.53,525.42 95.45,159.05 247.07,271.14 427.17,316.14 119.26,22.48 277.69,-185.42 277.69,-185.42l-238.28 -187.94z" />

            </svg>
        </a>


    </div>

</body>

</html>