<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <link rel="stylesheet" type="text/css" href="./dist/styles/loading-bar.css" />
    <script type="text/javascript" src="./dist/lib/loading-bar.js"></script>
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <title>Z M P</title>
</head>

<body>