<nav role="navigation" class="nav">
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menuHamb">
      <a href="#"><li class="hambHome">Home</li></a>
      <a href="#"><li class="hambHistoria">Nasza historia</li></a>
      <a href="#"><li class="hambServices">Usługi</li></a>
      <a href="#"><li class="hambKontakt">Kontakt</li></a>
      <a href="#"><li class="hambPortfolio">Portfolio</li></a>
      <a href="#"><li class="hambProjekty">Projekty UE</li></a>
    </ul>
  </div>
  <div class="euFlag">
    <img src="./images/Icons/EuUpperRight.svg" alt="European Union Flag" />
  </div>
</nav>
