<div class="section" id="historia">
            <h3>NASZA HISTORIA</h3>
            <p class="section__historia"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio saepe iste
                laudantium aliquid deserunt
                ad.
                Optio, sequi nostrum voluptates esse quae porro ipsum ipsam a at fugit quaerat soluta aliquid.
                Commodi eligendi quas repellendus aperiam! Cum amet dignissimos repellendus molestiae rem, in labore
                deleniti
                obcaecati sit molestias exercitationem praesentium libero ipsa accusamus inventore. Possimus alias
                voluptas,
                dolores recusandae doloremque excepturi.
                Vel, in nam! Cum, dolor. At, inventore aperiam non aspernatur porro eligendi suscipit alias nostrum
                accusamus
                placeat. Aspernatur nam consectetur quos consequatur, officia quam ipsum atque nostrum in, esse
                blanditiis.
            </p>
            <div class="btn-more">MORE</div>
        </div>