<div class="section" id="historia">
            <h3>NASZA HISTORIA</h3>
            <p class="section__historia"> Nowoczesna firma zapewniając kompleksowa produkcje techniczna imprez masowych. 
            Należy do małej grupy firm w Polsce, specjalizujących się w kompleksowej realizacji technicznej
            przedsięwzięć artystycznych, poczynając od tych najmniejszych po wielkie, prestiżowe wydarzenia
            medialne. 
            Na rynku działamy już 23 lata w branży eventowej. 
            Cały czas zajmujemy się kompleksową obsługą imprez m.in. profesjonalnym nagłośnieniem jak i
            oświetleniem. 
            Po wielu latach ciężkiej pracy, gromadzenia nowoczesnego sprzętu i cennych, rozwijających
            doświadczeń, możemy z dumą powiedzieć, że jesteśmy najlepszą w regionie firmą z branży.
            </p>
            
        </div>