<div class="kontakt" id="kontakt">
            <div class="kontakt__container">
                <div class="kontakt__text">
                    <h3>Kontakt</h3>
                    <p> Jesteśmy dostępni pod:
                    - e-mail: info@zmp-group.com
                    - numerem: +48 795 356 722
                    - adresem: Władysława Sikorskiego 34, 82-300 Elbląg, Polska
                    </p>
                </div>
                <div class="map-container">
                    <div class="map">
                        <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=W%C5%82adys%C5%82awa%20Sikorskiego%2034%2C%2082-300%20Elbl%C4%85g%2C%20Polska&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">crocothemes.net</a></div><style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                    </div>
                </div>
            </div>
        </div>