<div class="kontakt" id="kontakt">
            <div class="kontakt__container">
                <div class="kontakt__text">
                    <h3>Kontakt</h3>
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio saepe iste laudantium aliquid
                        deserunt
                        ad.
                        Optio, sequi nostrum voluptates esse quae porro ipsum ipsam a at fugit quaerat soluta aliquid.
                        Commodi eligendi quas repellendus aperiam! Cum amet dignissimos repellendus molestiae rem, in
                        labore
                        deleniti
                        obcaecati sit molestias exercitationem praesentium libero ipsa accusamus inventore. Possimus
                        alias
                        voluptas.
                    </p>
                </div>
                <div class="map-container">
                    <div class="map">
                        <p>Here goes the map</p>
                    </div>
                </div>
            </div>
        </div>