<div class="serv-sidebar">
            <svg class="close-btn-right" viewBox="0 0 20 20">
                <path class="one" d="M0 0 L20 20" fill="none" stroke="black"></path>
                <path class="two" d="M0 20 L20 0" fill="none" stroke="black"></path>
            </svg>
            <div class="ss__bg-picture"><img height="460px" width="640px" src="./images/868074.png" alt=""></div>
            <div class="ss__text-container">
                <h4>Title</h4>
                <p class="ss_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quisquam maiores
                    repudiandae quis est magni dolores odio, id minus, temporibus officiis obcaecati corporis natus eos
                    facere. Tempora labore ratione qui?Aliquid illum earum sed vel ratione debitis provident dicta hic
                </p>
                <div class="ss__list">
                    <ul>
                        <li>Tool 1</li>
                        <li>Tool 2</li>
                        <li>Tool 3</li>
                        <li>Tool 4</li>
                    </ul>
                </div>
            </div>
        </div>