<div class="sidebar">
<a class="home-icon" href="#">
    <svg version="1.1" class="logoHomeIcon" viewBox="0 0 276 207" xmlns="http://www.w3.org/2000/svg">
    <title>Zasób 1our story</title>
        <g transform="matrix(.249 0 0 .249 1 1)" data-name="Warstwa 2">
            <g data-name="Warstwa 1">
                <path id="bigLeft" d="m243 705h473l84 117h-800q160-200 321-400v-23l-320-399 151-0.24 327 399v22q-118 142-236 284z" style="fill:#fff"/>
                <path id="bigRight" d="m302 0h798l-319 400v23l319 399h-150q-164-200-327-399v-22l236-284h-473" style="fill:#fff"/>
                <path id="orangeUp" d="m860 117-237 284v22l-19-22v-15l203-242h-402l-19-27z" style="fill:#f15a29"/>
                <path id="orangeDown" d="m243 705 236-284v-22l19 21v16l-202 242h402l18 27z" style="fill:#f15a29"/>
                
                
                <path d="m479 399 19 21" style="fill:none;stroke-miterlimit:10;stroke-width:.01px;stroke:#ed1c24"/>
            </g>
        </g>
        
    </svg>
    <svg version="1.1" class="zmpSmall" viewBox="0 0 138 66.4" xmlns="http://www.w3.org/2000/svg">
        <g transform="matrix(.284 0 0 .284 -88.1 -50.3)" data-name="Warstwa 2">
            <g data-name="Warstwa 1">
                <g transform="translate(386,270)" style="fill:#6d6e71" aria-label="Z M P">
                    <path id="p" d="m260 0q-1 0-2-0.548 0-0.662 0-1.42v-38.2q0-0.9 0-1.5 1-0.6 2-0.6h24q4 0 7-3 3-2.9 3-7.1 0-4.3-3-7.2-3-3-7-3h-24q-1 0-2-0.5 0-0.7 0-1.6v-10.1q0-0.8 0-1.4 1-0.6 2-0.6h24q7 0 12 3.3 6 3.2 9 8.9 3 5.6 3 12.2t-3 12.2-9 8.9q-5 3.2-12 3.2h-12q-1 0-1 0.4-1 0.3-1 1.3v24.4q0 0.87 0 1.42-1 0.548-2 0.548z"/>
                    <path id="m" d="m192-76.5q1 0 1 0.6 1 0.6 1 1.5v72.3q0 0.87-1 1.42 0 0.548-1 0.548h-11q-1 0-1-0.548-1-0.55-1-1.42v-43.4q0-1 0-1-1 0-1 0.8-2 2.6-6 8.2t-6 8.1q-1 1.4-2 1.9 0 0.4-2 0.4h-2q-2 0-3-0.3 0-0.3-1-1.4l-12-16.8q-1-1-1-1-1 0-1 1v13.6q0 0.9 0 1.4-1 0.6-1 0.6h-11q-1 0-2-0.6 0-0.6 0-1.4v-42.4q0-0.9 0-1.5 1-0.6 2-0.6h11t0 0.4q1 0.4 1 0.8l17 27.5q0 0.2 0 0.7 1 0.4 2 0.4t1-0.5q1-0.6 1-0.8l16-27.2q1-0.5 1-0.9t1-0.4z" style="fill:#f15a29"/>
                    <path id="z" d="m14 0q-1 0.11-1.9-0.329-1-0.548-1.5-1.31-0.4-0.77-1.61-2.85-1.1-2.2-1.43-3.07-0.33-0.66-0.33-1.32 0-1.32 1.32-2.62 10.6-11.5 21.4-23.5 11-11.9 15-16.4 0.6-0.6 1.5-0.6 0.8 0 1.2 0.6l7.8 6.8q0.5 0.5 0.5 1.4t-0.5 1.4l-26.7 27q-1.1 1.1-1.1 1.6 0 0.9 2.2 0.9l34-0.3q0.9 0 1.4 0.5 0.6 0.6 0.6 1.5v8.63q0 0.76-0.6 1.42-0.5 0.549-1.4 0.549zm-4.35-64.2q-0.77 0-1.43-0.6-0.55-0.6-0.55-1.4v-8.6q0-0.8 0.55-1.4 0.66-0.6 1.43-0.6h54.4q0.8 0 1.3 0.6 0.7 0.6 0.7 1.4v8.6q0 0.8-0.5 1.4t-1.5 0.6z"/>
                </g>
            <g transform="translate(319,662)" style="fill:#231f20" aria-label="-G-R- O -U- P -">
                <path id="group" d="m459-322h14v4h-14zm-50 16q-1 0-1-1v-18t0-1q0 0 1 0h11q2 0 3-1 2-2 2-4t-2-3q-1-1-3-1h-11q-1 0-1-1v-5t0-1q0 0 1 0h11q3 0 6 2 2 1 4 4 1 2 1 5 0 4-1 6-2 3-4 4-3 2-6 2h-5q-1 0-1 0t0 1v11t-1 0q0 1 0 1zm-41-16h14v4h-14zm-41 16q-3 0-6-2-3-1-5-4-1-3-1-6v-10q0-1 0-1t1 0h4q1 0 1 0t0 1v10q0 2 2 4t4 2 4-1q1-1 2-2 1-2 1-3v-23t1-1h5t1 0q0 1 0 1v23q0 3-2 6t-5 4q-3 2-7 2zm-11-30q-1 0-1 0t0-1v-4t0-1q0 0 1 0h4q1 0 1 0 0 1 0 1v4q0 1 0 1t-1 0zm-29 14h14v4h-14zm-57 12q-3-3-5-6-1-4-1-8 0-3 1-6t3-6 6-4q3-2 7-2 1 0 1 1v4q0 1-1 1-3 0-5 1-2 2-3 3-3 4-3 8 0 3 1 5t3 4q4 3 8 3 2 0 5-1 2-1 4-4 1-1 2-3 0-2 0-4 0-3-1-5 0-1 0-1 0-1 0-2 1 0 2-1t1-1q1 0 1 0 1 0 1 1 3 4 3 9 0 3-1 6t-3 6q-3 3-7 5-3 1-7 1t-7-1-5-3zm-44-12h14v4h-14zm-51 16q-1 0-1-1v-18t0-1q0 0 1 0h10q2 0 3-1 2-2 2-4t-2-3q-1-1-3-1h-4q-1 0-1 0-1 0-1 1v1q0 1 0 1 0 1-1 1h-3q-1 0-1-1 0 0 0-1v-8t0-1q0 0 1 0h10q3 0 6 2 2 1 4 4 2 2 2 5t-2 5q-1 3-3 4 0 1 0 1l6 14q0 1-1 1h-4t-1 0q0 0 0-1l-6-12t-1 0h-4q-1 0-1 0-1 0-1 1v11q0 1 0 1zm-41-16h14v4h-14zm-44.3 16q-5 0-9.3-2-4.2-3-6.7-7-2.4-4-2.4-9t2.4-9q2.5-5 6.7-7 4.3-2 9.3-2 1.2 0 2.3 0 0.5 0 0.7 0 0.3 0 0.2 1l-0.8 4q-0.2 1-1 1h-1.4q-3.2 0-5.9 2-2.7 1-4.4 4-1.6 3-1.6 6t1.6 6q1.7 3 4.4 4 2.7 2 5.9 2 3.7 0 6.5-2t4.2-6h-6.6q-0.4 0-0.7 0t-0.3-1v-4t0.3 0q0.3-1 0.7-1h10.8q1.2 0 1.9 1 0.7 0 0.7 1 0 5-2.3 9-2.2 4-6.2 7-4 2-9 2zm-56.2-16h13.4v4h-13.4z" style="fill:#6d6e71"/>
            </g>
                <path d="m479 399 19 21" style="fill:none;stroke-miterlimit:10;stroke-width:.01px;stroke:#ed1c24"/>
            </g>
        </g>
   </svg>
   

</a>
<div class="menu">
    <ul>
        <li class="menu-number">
            <a id="home-option" href="#">
                <span class="number selected">01</span><span class="nav-option">
                    Home</span>
            </a>
        </li>
        <li class="menu-number">
            <a id="historia-option" href="#">
                <span class="number">02</span><span class="nav-option">
                    Nasza
                    historia</span>
            </a>
        </li>
        <li class="menu-number">
            <a id="services-option" href="#">
                <span class="number">03</span><span class="nav-option"> Usługi</span>
            </a>
        </li>
        <li class="menu-number">
            <a id="kontakt-option" href="#">
                <span class="number">04</span><span class="nav-option"> Kontakt</span>
            </a>
        </li>

    </ul>
</div>
<div class="portfolio-menu">
    <a href="#">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="portfolio-icon" height="1.2em" viewBox="0 0 789.08 692.31">
            <title>Zasób 2our story</title>
            <g data-name="Warstwa 2">
                <g data-name="Warstwa 1">
                    <path class="cls-1" d="M552.73,543.43H251.23c-9.49,0-19-2.72-24.6-7-20.3-15.79-4.88-48,4.85-77.87,2.69-8.27,5.38-21.68,9.32-27.92C255.09,408,294,415,294,446.66c0,8.5-6.55,31.49-9.3,37.21H509.92c-4.42-19.07-19.38-41.21-2.38-58.22,11.57-11.56,38.92-13.29,48.7,11.91,7.26,18.68,13,39,19.56,58.62,10.46,31.26-6.55,47.25-23.07,47.25ZM115.4,29.79H668.13L720,184.48c3.91,11.73,16.1,43.23,17,53.74H506.21c0,24.18-11.34,37.22-35.35,37.22H318.25c-24.52,0-35.38-13-35.38-37.22H48.39c1.07-12.87,60.74-181.56,67-208.43ZM0,295.91V636.49c0,28.72,27.13,55.82,55.84,55.82H733.27c28.71,0,55.81-27.1,55.81-55.82V294c0-17.24-7.2-22.93-11.88-36.48-4.59-13.27-7.82-25-12.58-37.68-20.24-54-44.42-131.52-63.24-188C698.54,23.36,693.1,0,683,0H104.23C89.91,0,86.91,16.27,83.74,27.92c-3.52,13-7.91,24.69-12.31,37.93L9.55,255.2C5.33,267.82,0,279.69,0,295.91Z" />
                    <path class="cls-1" d="M96.77,189.84c0,8.87,3.24,18.59,11.17,18.59H670c21.09,0,17.6-29.76,3.71-29.76H107.94c-4.48,0-11.17,6.69-11.17,11.17Z" />
                    <path class="cls-1" d="m111.66 130.28c0 9.69 2.26 18.6 14.91 18.6h528.52c21.11 0 17.63-29.77 3.74-29.77h-536c-4.48 0-11.17 6.69-11.17 11.17z" />
                    <path class="cls-1" d="M134,70.72c0,9.7,2.27,18.6,14.89,18.6H632.75c21.68,0,16.44-29.76,3.74-29.76H145.16c-4.48,0-11.17,6.69-11.17,11.16Z" />
                </g>
            </g>
        </svg>
        PORTFOLIO
    </a>
</div>
</div>