<div class="sidebar">
<a class="home-icon" href="#">
    <img height="100px" src="./images/LogoIcon.svg">
</a>
<div class="menu">
    <ul>
        <li class="menu-number">
            <a id="home-option" href="#">
                <span class="number selected">01</span><span class="nav-option">
                    Home</span>
            </a>
        </li>
        <li class="menu-number">
            <a id="historia-option" href="#">
                <span class="number">02</span><span class="nav-option">
                    Nasza
                    historia</span>
            </a>
        </li>
        <li class="menu-number">
            <a id="services-option" href="#">
                <span class="number">03</span><span class="nav-option"> Usługi</span>
            </a>
        </li>
        <li class="menu-number">
            <a id="kontakt-option" href="#">
                <span class="number">04</span><span class="nav-option"> Kontakt</span>
            </a>
        </li>

    </ul>
</div>
<div class="portfolio-menu">
    <a href="#">
        <?xml version="1.0" encoding="UTF-8"?>
        <svg class="portfolio-icon" height="1.2em" viewBox="0 0 789.08 692.31">
            <title>Zasób 2our story</title>
            <g data-name="Warstwa 2">
                <g data-name="Warstwa 1">
                    <path class="cls-1" d="M552.73,543.43H251.23c-9.49,0-19-2.72-24.6-7-20.3-15.79-4.88-48,4.85-77.87,2.69-8.27,5.38-21.68,9.32-27.92C255.09,408,294,415,294,446.66c0,8.5-6.55,31.49-9.3,37.21H509.92c-4.42-19.07-19.38-41.21-2.38-58.22,11.57-11.56,38.92-13.29,48.7,11.91,7.26,18.68,13,39,19.56,58.62,10.46,31.26-6.55,47.25-23.07,47.25ZM115.4,29.79H668.13L720,184.48c3.91,11.73,16.1,43.23,17,53.74H506.21c0,24.18-11.34,37.22-35.35,37.22H318.25c-24.52,0-35.38-13-35.38-37.22H48.39c1.07-12.87,60.74-181.56,67-208.43ZM0,295.91V636.49c0,28.72,27.13,55.82,55.84,55.82H733.27c28.71,0,55.81-27.1,55.81-55.82V294c0-17.24-7.2-22.93-11.88-36.48-4.59-13.27-7.82-25-12.58-37.68-20.24-54-44.42-131.52-63.24-188C698.54,23.36,693.1,0,683,0H104.23C89.91,0,86.91,16.27,83.74,27.92c-3.52,13-7.91,24.69-12.31,37.93L9.55,255.2C5.33,267.82,0,279.69,0,295.91Z" />
                    <path class="cls-1" d="M96.77,189.84c0,8.87,3.24,18.59,11.17,18.59H670c21.09,0,17.6-29.76,3.71-29.76H107.94c-4.48,0-11.17,6.69-11.17,11.17Z" />
                    <path class="cls-1" d="m111.66 130.28c0 9.69 2.26 18.6 14.91 18.6h528.52c21.11 0 17.63-29.77 3.74-29.77h-536c-4.48 0-11.17 6.69-11.17 11.17z" />
                    <path class="cls-1" d="M134,70.72c0,9.7,2.27,18.6,14.89,18.6H632.75c21.68,0,16.44-29.76,3.74-29.76H145.16c-4.48,0-11.17,6.69-11.17,11.16Z" />
                </g>
            </g>
        </svg>
        PORTFOLIO
    </a>
</div>
</div>