<div class="section__ue" id="ue">
  <p>
    <span class="strong_p"
      >ZMP GROUP Michał Pisarkiewicz, Zbigniew Pisarkiewicz</span
    >
    s.c. realizuje Projekt pt.: ,,Wdrożenie innowacji procesowej i produktowej w
    firmie ZMP GROUPS s.c.’’ w ramach Regionalnego Programu Operacyjnego
    Województwa Warmińsko-Mazurskiego na lata 2014-2020 współfinansowanego ze
    środków Europejskiego Funduszu Rozwoju Regionalnego, Poddziałanie 1.3.2 –
    Firmy w początkowej fazie rozwoju.
  </p>
  <br />
  <p>
    Przedmiotem projektu jest wdrożenie technologii Virtual Reality do
    wizualizacji projektów eventów i imprez okolicznościowych, jak również do
    realizacji filmów aftermovie z przeprowadzonych przedsięwzięć. W ramach
    projektu stworzone zostanie m.in. zaplecze produkcyjne, niezbędne do
    wdrożenia tego nowatorskiego rozwiązania technologicznego.
  </p>
  <br />
  <p>
    W efekcie realizacji dofinansowanego projektu planowane jest m.in.: <br />
  </p>
  <p>
    - wdrożenie rozwiązań innowacyjnych produktowych i procesowych,<br />
    - zwiększenie potencjału technologicznego firmy,<br />
    - poszerzenie i znaczące unowocześnienia oferty produktowej, <br />
    - wykreowanie warunków sprzyjających dalszemu rozwojowi, w tym budowaniu
    konkurencyjności firmy w branży.
  </p>

  <br />
  <p>
    <span class="strong_p">Okres realizacji Projektu:</span><br />

    - rozpoczęcie realizacji: 15.03.2018 <br />
    - rozpoczęcie rzeczowe realizacji: 01.10.2018 <br />
    - zakończenie finansowe realizacji: 14.03.2021
  </p>
  <br />

  <p><span class="strong_p">Wartość projektu:</span> 550 713,67 PLN</p>
  <br />

  <p>
    <span class="strong_p">Wkład Funduszy Europejskich:</span> 346 660,44 PLN
  </p>
  <br />
  <div class="section__ue__footer">
    <div class="ue_flags">
      <img
        class="asset"
        src="./images/ueFooter/FunduszeEuropejskie.svg"
        alt=""
      />
    </div>
    <div class="ue_flags">
      <img class="asset" src="./images/ueFooter/PolishFlag.svg" alt="" />
    </div>
    <div class="ue_flags">
      <img class="asset" src="./images/ueFooter/WarmiaImazury.svg" alt="" />
    </div>
    <div class="ue_flags">
      <img class="asset" src="./images/ueFooter/EuFooter.svg" alt="" />
    </div>
  </div>
</div>
