
        <div class="uslugi" id="uslugi">
        <div class="uslugi__text">
            <h3>USŁUGI</h3>
            <div class="paragraph">
                <p> Nasze zaangażowanie w ciężką prace, ciągłą naukę i indywidualne podejście do klienta
                wyznacza nam drogę do osiągnięcia pożądanego rezultatu. Nasz klucz do bycia lepszym niż nasza
                konkurencja to wykorzystanie najnowocześniejszych technologii oraz rozwiązań. Nasz zespół może
                pochwalić się doskonałymi umiejętnościami zawodowymi w swojej dziedzinie. Nieustannie
                pracujemy nad ich udoskonalaniem.
                </p>
            </div>
        </div>
        <div class= "uslugi__grid">
            <div class="grid__box">
                <div class="grid__number">
                    <p>1</p>
                </div>
                <div class="grid__icon">
                    <p>Ev</p>
                </div>
                <h5>Organizacja Eventow</h5>
            </div>
            <div class="grid__box">
                <div class="grid__number">
                    <p>2</p>
                </div>
                <div class="grid__icon">
                    <p>So</p>
                </div>
                <h5>Nagłosnienie</h5>
            </div>
            <div class="grid__box">
                <div class="grid__number">
                    <p>3</p>
                </div>
                <div class="grid__icon">
                    <p>Li</p>
                </div>
                <h5>Oswietlenie</h5>
            </div>
            <div class="grid__box">
                <div class="grid__number">
                    <p>4</p>
                </div>
                <div class="grid__icon">
                    <p>Ts</p>
                </div>
                <h5>Technika sceniczna</h5>
            </div>
            <div class="grid__box">
                <div class="grid__number">
                    <p>5</p>
                </div>
                <div class="grid__icon">
                    <p>De</p>
                </div>
                <h5>Projektowanie 3D</h5>
            </div>
            
        </div>

        <div class="console">
            <div class="line-container">
                <div class="actual-line"></div>
                <div class="service__icon-container" id="events">
                    <a href="#" class="services-link">

                        <svg class="event-icon" id="event-iconId" width="14mm" height="9.67mm" version="1.1" viewBox="0 0 194 134"
                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg">

                            <path d="m1.39 1.19h78.2v25.7h-49v24.5h46.3v25.7h-46.3v28.9h50.9v26h-80.1z" />
                            <path d="m95.3 34.1h26.7l21 67.9 22-67.9h27l-34 97.9h-30z" />
                        </svg>
                        <svg class="event-icon__animate" width="122" height="80" version="1.1" viewBox="0 0 447 520">
                            <g transform="translate(12.8,11.7)">
                            <path d="m326 247c0 6 1 15 11 15h29c14 0 14-22 0-22h-29c-6 0-11 5-11 7zm-6 18 7-7-21-23 16-16-63-24 22 64 16-18zm-145 135c-13-18-27-20-27-2 0 2 20 26 28 26 9 0 24-21 29-26 3-3 7-5 7-10s-7-17-19-5c-5 5-13 14-18 17zm50-2c0 5 1 14 10 14h131c14 0 14-22 0-22h-131c-5 0-10 5-10 8zm-50-72c-13-18-27-19-27-3 0 3 20 27 28 27 9 0 24-21 29-26 3-3 7-6 7-11s-7-16-19-4c-5 5-13 14-18 17zm50-2c0 6 1 14 10 14h131c14 0 14-22 0-22h-131c-5 0-10 5-10 8zm-49-239c-7-4.3-12-13.8-19-13.8-5 0-9 4.2-10 9.5 0 5.1 4 7.7 7 11.1 21 19.6 21 26.6 42 1.7 4-5.1 16-13.6 16-20.4 0-4.6-5-10-9-10-8 0-20 17.6-27 21.9zm-1 165c-13-19-27-20-27-4 0 4 20 27 28 27 9 0 24-20 29-26 3-2 7-5 7-10 0-6-7-16-19-5-5 5-13 14-18 18zm1-83c-6-3-12-14-19-14-8 0-9 6-9 11 0 2 19 27 29 27 6 0 23-21 28-26 3-2 7-6 7-11s-5-10-10-10c-7 0-20 19-26 23zm49-84.1c0 5.9 1 14.4 10 14.4h131c14 0 14-22.5 0-22.5h-131c-3 0-5 1.2-7 2.1-1 1.7-3 4.2-3 6zm0 82.1c0 6 1 15 10 15h131c14 0 14-22 0-22h-131c-5 0-10 5-10 7zm-3 82c0 6 0 15 9 15h30c14 0 14-22 0-22h-30c-5 0-9 5-9 7zm-175-186c0-18.3-3.4-46.6 29.4-46.6h33.3v465c-28.9 0-62.7 7-62.7-29v-17c4.2 0 8.5 0 11.6 1 0.1 0 2.4 2 2.8 2 14.5 11 28.9-3 28.9-13 0-15-13.8-24-26.1-17-3.7 1-4.4 2-5 5h-12.2v-64h9.1c4.3 0 8.7 9 21.3 5 18-5 18.8-36-7.1-36-3.1 0-10 4-11.1 8h-12.2v-67h12.2c2.9 11 31.1 10 31.1-9 0-15-15-23-26.7-16-2.5 2-3.6 2-4.4 4h-12.2v-67c7.8 0 9.5 0 13.9 3 14.3 13 29.4-2 29.4-13 0-8-6.9-17-14.9-17-16.8 0-10.4 3-17.5 6h-10.9v-65.1h9.1c4 0 6.7 6.7 16.2 6.7 22.3 0 25.6-31.3 2.5-35.7-11.2-2.2-11.7 5.7-18.7 6.6-2 0.2-6.8 0-9.1 0zm359 374c0 19 2 45-29 45h-257v-465h257c26 0 29 18.9 29 38.5zm22-397c0-24.2-23-45.5-44-45.5h-314c-21.1 0-44.5 21.8-44.5 44.6v24.3c-15 0-33.4-3.6-33.4 11.1s18.3 11.3 33.4 11.3v65.1c-15 0-33.4-4-33.4 11s18.3 10 33.4 10v67c-13.5 0-33.4-3-33.4 10 0 15 19.9 11 33.4 11v67c-15 0-33.4-4-33.4 11s18.3 12 33.4 12v64c-15 0-33.4-4-33.4 12 0 14 18.3 10 33.4 10 0 21-2.8 39 14 55 6.1 6 18.9 15 30.5 15 106 0 53.5 4 314 0 19 0 37-17 43-34 5-16 1-102 1-125z"/>
                            </g>
                            </svg>
                        <p class="service-type">Organizacja Eventow</p>
                    </a>
                </div>
                <div class="service__number">1</div>
            </div>
            <div class="line-container">
                <div class="actual-line"></div>
                <div class="service__icon-container" id="sound">
                    <a href="#" class="services-link">
                        <svg class="event-icon" id="sound-icon" width="14mm" height="9.67mm" version="1.1" viewBox="0 0 194 134"
                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg">

                            <g transform="scale(.924 1.08)" aria-label="So">
                                <path d="m85.8 6.47v24.9q-9.8-4.3-19-6.5t-17.5-2.2q-10.9 0-16.1 3t-5.2 9.3q0 4.7 3.5 7.4 3.5 2.6 12.8 4.5l12.9 2.6q19.7 4 28 12.1 8.3 8 8.3 22.9 0 19.5-11.6 29.5-11.5 9-35.3 9-11.3 0-22.6-2t-22.6-6v-26.1q11.3 6 21.9 9.1 10.5 3 20.3 3 10 0 15.3-3.3t5.3-9.5q0-5.5-3.6-8.5t-14.3-5.4l-11.8-2.6q-17.7-3.8-25.9-12.1-8.14-8.3-8.14-22.4 0-17.6 11.4-27.1 11.4-9.47 32.7-9.47 9.7 0 20 1.5 10.3 1.42 21.3 4.34z"
                                    style="stroke-width:2.49" />
                                <path d="m161 50.3q-9 0-14 6.8-5 6.7-5 19.5 0 12.7 5 19.5 5 6.9 14 6.9t14-6.9q5-6.8 5-19.5 0-12.8-5-19.5-5-6.8-14-6.8zm0-20.2q23 0 36 12.3 13 12.4 13 34.2t-13 34.4q-13 12-36 12t-36-12q-13-12.6-13-34.4t13-34.2q13-12.3 36-12.3z"
                                    style="stroke-width:2.49" />
                            </g>
                        </svg>
                        <svg class="event-icon__animate" id='sound-icon__animate' width="158" height="127" version="1.1" viewBox="0 0 581 467">
                            <g transform="matrix(.047 0 0 .056 3.66 3.52)">
                                <path d="m6460 5560a330 330 0 0 1-330 330 330 330 0 0 1-330-330 330 330 0 0 1 330-330 330 330 0 0 1 330 330zm-2740-2640h4830c120 0 230 100 230 230v4830c0 120-110 230-230 230h-4830c-130 0-230-110-230-230v-4830c0-130 100-230 230-230zm2410 880c940 0 1710 770 1710 1720s-770 1720-1710 1720c-950 0-1720-770-1720-1720s770-1720 1720-1720zm2230 3910c70 0 130 50 130 130 0 70-60 130-130 130s-130-60-130-130c0-80 60-130 130-130zm-4300-30c70 0 130 50 130 130 0 70-60 130-130 130s-130-60-130-130c0-80 60-130 130-130zm4250-4490c70 0 130 60 130 130s-60 130-130 130c-80 0-130-60-130-130s50-130 130-130zm-4360 0c70 0 130 60 130 130s-60 130-130 130-130-60-130-130 60-130 130-130zm-3949-3178h2809v4588l-2810 20zm594 4258h1875v170h-1875zm905-1990c510 0 920 420 920 930s-410 920-920 920c-512 0-925-410-925-920s413-930 925-930zm-626-1140c316 0 576 260 576 580 0 310-260 570-576 570s-572-260-572-570c0-320 256-580 572-580zm1196-637c190 0 340 152 340 340 0 187-150 337-340 337s-340-150-340-337c0-188 150-340 340-340zm10130-503h-2770v4590l2770 20v-4610zm-600 4260h-1830v170h1830zm-900-1990c-500 0-890 410-890 920s390 930 890 930 1e3 -420 1e3 -930-500-920-1e3 -920zm700-1140c-400 0-600 260-600 570 0 320 200 580 600 580 300 0 500-260 500-580 0-310-200-570-500-570zm-1200-639c-220 0-380 153-380 340 0 189 160 339 380 339 200 0 300-150 300-339 0-187-100-340-300-340z"/>
                            </g>
                        </svg>

                        <p class="service-type">Nagłosnienie</p>
                    </a>
                </div>

                <div class="service__number">2</div>
            </div>
            <div class="line-container">
                <div class="actual-line"></div>
                <div class="service__icon-container" id="oswietlenie">
                    <a href="#" class="services-link">
                        <svg class="event-icon" id="oswietlenie-icon" width="8.89mm" height="9.71mm" version="1.1"
                            viewBox="0 0 123 135" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <g transform="matrix(.989 0 0 1.01 -32.4 .875)">
                                <path d="m34.2 131v-123h26v101h49.8v22z" style="stroke-width:2.62" />
                                <path d="m128 13q0-12.5 14-12.5t14 12.5q0 5.9-4 9.3-3 3.3-10 3.3-14 0-14-12.6zm27 118h-26v-93.8h26z" />
                            </g>
                        </svg>
                        <svg version="1.1" viewBox="0 0 123 92.8" class="event-icon__animate" id="oswietlenie-icon__animate">

                        <g transform="matrix(.424 0 0 .424 1.03 1)"  data-name="Warstwa 2">
                        <g  data-name="Warstwa 1">
                        <path d="m174 203c4-13 59-13 63 0-6 11-37 10-50 7-7-1-9-2-13-7zm-124 0c4.6-13 59.2-13 63.2 0-5 7-20.6 9-31.4 9a84 84 0 0 1-18.6-2c-6.7-2-9.6-2-13.2-7zm78.2-97c-1 3 0 1-2 4l-63.9 74c-3.5 4-15.4 15-14.9 19 3.6 10 22.2 11 33.3 11 12.2 1 30.5-1 35.5-10l27-63c4 4 16 35 20 44 10 21 6 27 34 29 12 1 54-1 40-17l-18-21c-2-1-3-2-5-4l-36-43c-4-4-5-5-7-8-8-8-13-12-11-18l17-38.2c2-3 3-3.2 3-5.3 2-5.1-4-8.2-8-5l-6 8.7c-2 1.6-2 2.7-3 4.4l-20 21.4-25-29.7c-2-3.1-1-4-4-5.3-2-1.8-6-1.2-7 1.2-3 4 2 8.5 4 12.8z" />
                        <path d="m168 16.3c4-1.1 6-0.5 5 3.8-1 1-2 2.2-4 1.1s-1-3.1-1-4.9zm-9 3.9c-1-5.4 5-5.8 6-2.6a2.86 2.86 0 0 1-2 3.7c-2 0.8-3-0.2-4-1.1zm-3 0c-1 0.7-2 1.7-4 1.3a2.88 2.88 0 0 1-2-3.9c1-2.9 7-3 6 2.6zm-14 0c-1-5.5 5-5.7 5-2.6a2.88 2.88 0 0 1-1 3.7c-2 0.8-3-0.2-4-1.1zm-8-3.9c3-1.1 5-0.5 5 3.9-2 1-3 2.1-5 1-1-1.1-1-3.1 0-4.9zm-9 3.9c-1-4.4 1-5 5-3.9 0 1.6 1 3.4-1 4.7s-3 0.2-4-0.8zm-4 0c-1 0.8-1 1.8-3 1.2a2.87 2.87 0 0 1-2-3.8c1-3 6-2.9 5 2.6zm52-12.8c2 5.21-3 6.41-5 3.91a3 3 0 0 1 1-3.98c2-1.87 3 0.11 4 0.11zm-13-0.39a3.2 3.2 0 0 1 4 5 3.06 3.06 0 0 1-5-0.7 3 3 0 0 1 0-2.74c1-1.65 0-1 1-1.52zm-4 0.37c1 5.23-3 6.33-5 3.93a3 3 0 0 1 0-4.04c3-1.84 4 0.11 5 0.11zm-13-0.37c1-1 3-0.27 4 0.73a3.13 3.13 0 0 1-5 3.77c-1-2.26 1-3.88 1-4.5zm-5 0c2 4.4-1 6.9-4 4.8-2-2.1-1-6.16 4-4.8zm-13 0c2-1 4-0.26 5 0.74 2 3.06-3 6.46-5 3.76-2-2.18 0-3.92 0-4.5zm-8 0.19c4-2.64 6 3.21 3 4.91-3 1.5-7-2.22-3-4.91zm-5 16.1h66v-18.5h-66z" />
                        <path d="m110 14a1.8 1.8 0 0 0 0-0.4v-2.5-9.19h69v12.1c2-0.1 1 0 2-2.3v-11.3h-72v10.9c0 3.2 0 2.6 1 2.8z" />
                        <path d="m89.8 21.9c0.7-1 0 0.2 0.4-0.7l1.9-20c1.5 0.1 3.9 0.7 5.5 0.12 0.4 1.85-1.4 19-1.8 23.2-0.2 2.1-0.8 5.6-0.6 7.5a3 3 0 0 0-3 0.8c-1-0.9-0.9-1-2.1-1.3-0.2 0-0.6 0.1-0.6 0 0.1-0.2-0.1 0-0.2 0 0.2-1.8 0.3-3.2 0.5-4.9 0.1-1.4 0.6-3.4 0-4.7z" />
                        <path d="m198 20.7c-1-1 0 0.2-1-0.7l-2-20c-1 0.07-4 0.7-5 0.12-1 1.85 1 19 2 23.2v7.5a3.06 3.06 0 0 1 3 0.8c1-0.9 1-1 2-1.2 0 0 1 0 1-0.1v0-4.9c-1-1.4-1-3.4 0-4.7z" />
                        <path d="m45.1 9.35h-6.4l0.1-2.13c1.4-0.48 4.6-0.24 6.3-0.13zm-21-7.68c-0.1 2.61-0.1 5.33-0.1 7.92 0 2.61 0.4 4.51 2.7 5.01 1.5 0.5 29.3 0.4 30.5 0 2.8-0.9 2.5-3.4 2.5-5.3v-7.61z" />
                        <path d="m59.7 40.5c0.2-5.9 0.2-14-2-19.1-2.7-6.5-7.9-5.5-15.7-5.5s-13.2-1.1-16 5.5c-2 4.9-2.1 13.6-1.9 19.2h4.3c0.2-7.9 0-10.3 4.9-14.9 4.8-4.6 14.3-4.2 19.3 2.2 3 3.8 2.6 7.2 2.8 12.7z" />
                        <path d="m248 9.35h-7v-2.13c2-0.48 5-0.24 7-0.13zm-22-7.68v7.92c0 2.61 1 4.51 3 5.01s30 0.4 31 0c2-0.9 2-3.4 2-5.3v-7.61z" />
                        <path d="m262 40.5c0-5.9 0-14-2-19.1-3-6.5-8-5.5-16-5.5-7 0-13-1.1-16 5.5-2 4.9-2 13.6-2 19.2h5c0-7.9 0-10.3 5-14.9s14-4.2 19 2.2c3 3.8 3 7.2 3 12.7z" />
                        <path d="m3.88 203c3.76 1 6.12 0 10 0 1 2 1 2 2.7 2a17.7 17.7 0 0 0 8.3 0c2.5-1 1.6-1 2.9-2 3.7 0 6.8 1 10.3 0 0 5 1.2 8-5.3 8h-6.4c-2.3-2 0.2-2-5.2-2-4.4 0-3 0-5.4 1-1.3 1-4.3 1-6.31 1-6.81 0-5.61-2-5.61-8zm29.7-1h-5c1.4-1 2.4 0 4-1 1.5-1 1-2 1.3-4 0.2-2 1.2-1 2.6-2 1-1 1.1-2 1.5-4v10c-1.3 1-2.2 1-4.4 1zm-29.6-9c0.8 1 0 1 1.89 2 1.35 1 1.86 1 2 3 0.29 5 2.21 2 5.21 4-1.1 0-7.48 0-8.53-1-1.05 0-0.7-7-0.54-8zm14.9-18a13.3 13.3 0 1 1-11.2 15 13.3 13.3 0 0 1 11.1-15zm-18.8 16h1.92c0.32 21-2.66 22 10.2 22 2.3 0 3 0 4.4-1 2-1 1.3-1 4.2-1s2.8 0 4.5 1c1.2 1 2.4 1 4.4 1 3.9 0 6.7 1 8.9-2 1.9-2 1.2-7 1.2-10v-10a5.54 5.54 0 0 0 2 0v-5c-2.1 0-2-1-4-1-0.7-5-1.3-2-3.3-4-1.6-2 0.1-5-2.5-6-1.3 0-2.1 1-3.3 0-1.6-1 0-4-7.9-4s-6.3 3-7.9 4c-1.2 1-2 0-3.37 0-2.8 1-0.88 4-2.44 6-1.83 2-2.51-1-3.38 4a14.2 14.2 0 0 1-3.79 1z" />
                        <path d="m247 203c4 1 6 0 10 0 1 2 1 2 3 2a17.7 17.7 0 0 0 8 0c3-1 2-1 3-2 4 0 7 1 10 0 0 5 2 8-5 8h-6c-2-2 0-2-5-2s-3 0-6 1c-1 1-4 1-6 1-7 0-6-2-6-8zm30-1h-5c1-1 2 0 4-1s1-2 1-4c1-2 2-1 3-2s1-2 1-4v10c-1 1-2 1-4 1zm-30-9c1 1 0 1 2 2s2 1 2 3c1 5 3 2 5 4-1 0-7 0-8-1-1 0-1-7-1-8zm15-18a13.3 13.3 0 1 1-11 15 13.3 13.3 0 0 1 11-15zm-18 16h1c1 21-2 22 11 22 2 0 3 0 4-1 2-1 1-1 4-1s3 0 5 1c1 1 2 1 4 1 4 0 7 1 9-2 2-2 1-7 1-10v-10a5.5 5.5 0 0 0 2 0v-5c-2 0-2-1-4-1 0-5-1-2-3-4s0-5-2-6c-2 0-3 1-4 0s0-4-8-4-6 3-8 4c-1 1-2 0-3 0-3 1-1 4-2 6-2 2-3-1-4 4a14.2 14.2 0 0 1-4 1z" />
                        <path d="m43 25.3a12 12 0 1 1-12 12 12 12 0 0 1 12-12z" />
                        <path d="m42.1 29.7a7.66 7.66 0 1 1-7.7 7.7 7.65 7.65 0 0 1 7.7-7.7z" />
                        <path d="m244 25.4a12 12 0 1 1-12 12 12 12 0 0 1 12-12z" />
                        <path d="m244 29.7a7.66 7.66 0 1 1-7 7.7 7.65 7.65 0 0 1 7-7.7z" />
                        <path d="m91.7 11.6 31.3 37.6-20 17.2-31.7-36.7s-3.6-8.3 0.7-12.6a51.8 51.8 0 0 1 9.4-7.25s6.6-2 10.3 1.75z" />
                        <path d="m215 31.1-32 37.8-20-17.4 30-37.3s8-4.96 13-1.5a51.8 51.8 0 0 1 8 8s4 6.1 1 10.5z" />
                        </g>
                        </g>
                    </svg>
                    


                        <p class="service-type">Oswietlenie</p>
                    </a>
                </div>
                <div class="service__number">3</div>
            </div>
            <div class="line-container">
                <div class="actual-line"></div>
                <div class="service__icon-container" id="ts">
                    <a href="#" class="services-link">
                        <svg class="event-icon" id="ts-icon" width="12mm" height="9.78mm" version="1.1" viewBox="0 0 166 136"
                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <g transform="scale(.934 1.07)">
                                <path d="m60.6 124h-26.1v-101h-33.3v-21.7h92.7v21.7h-33.3z" />
                                <path d="m176 96.1q0 14.9-10 21.9-10 8-30 8-10 0-17-2-7-1-14-4v-20.9q8 2.9 16 5.9 9 2 16 2 14 0 14-8.1 0-3-2-4.9t-6-4.3q-5-2.4-12-5.6-11-4.5-16-8.4t-7-8.8q-3-5.1-3-12.4 0-12.5 10-19.3 10-6.9 27-6.9t33 7.4l-7 18.5q-7-3-13-5-7-1.9-13-1.9-11 0-11 6.1 0 3.5 3 6 4 2.5 16 7.5 11 4.4 16 8.3 6 3.9 8 8.9t2 12z" />
                            </g>
                        </svg>
                        <svg version="1.1" viewBox="0 0 183 122" class="event-icon__animate" id="ts-icon__animate">
                        <g transform="matrix(.547 0 0 .547 1.27 1.28)" data-name="Warstwa 2">
                        <g data-name="Warstwa 1">
                        <polygon points="120 209 120 218 209 218 209 209 288 209 288 187 41.2 187 41.2 209"/>
                        <path d="m0 142h40.4v66h-40.4zm8.55 61h27v2h-26.9zm13-29a13.3 13.3 0 1 1-13.4 14 13.3 13.3 0 0 1 13.4-14zm-9-16a8.23 8.23 0 1 1-8.28 8 8.23 8.23 0 0 1 8.28-8zm17.2-9a4.9 4.9 0 1 1-4.9 5 4.89 4.89 0 0 1 4.9-5z"/>
                        <path d="m330 142h-40v66h40zm-8 61h-27v3h27zm-13-28a13.3 13.3 0 1 0 13 13 13.3 13.3 0 0 0-13-13zm9-17a8.23 8.23 0 1 0 8 8 8.22 8.22 0 0 0-8-8zm-18-9a4.9 4.9 0 1 0 5 5 4.9 4.9 0 0 0-5-5z"/>
                        <path d="m36.3 21.5v13.9h257v-13.9c0-28.8-257-28.5-257 0z"/>
                        <path d="m112 60.3c-2 1.2-4-0.3-3-2.3 1-1.4 4-1.1 3 2.3zm-8 0c-1-3.5 2-3.7 3-2.3 1 2-1 3.5-3 2.3zm-4.4-2.9c2.4-0.9 3.4 2.5 1.4 3.3a1.72 1.72 0 0 1-2.4-1c-0.7-2 0.8-2.2 1-2.3zm-6.1 2.9c-1-3.5 2.2-3.7 3-2.3 1.2 2-0.9 3.5-3 2.3zm-4.4-2.9c2.3-0.9 3.3 2.5 1.3 3.3a1.76 1.76 0 0 1-2.3-1 2.1 2.1 0 0 1 0-1.5c0.4-1 0.2-0.5 1-0.8zm-3.2 0.2c1 2.6-0.8 4.1-2.5 2.8-1.6-1.4-0.3-3.8 2.5-2.8zm-7.2-0.2c2.3-0.9 3.2 2.5 1.2 3.3a1.73 1.73 0 0 1-2.3-1c-0.7-2 1-2.3 1-2.3zm30.3-2.5c0-0.8 0-2 1-2.7 1-1.1 2 0.1 2 0.1 1 2.6 0 3.5-3 2.6zm-4-2.9a1.76 1.76 0 0 1 1 3 1.78 1.78 0 0 1-2-0.4 1.85 1.85 0 0 1 0-1.7c0-1 0-0.6 1-0.9zm-3 0.2c1 3.2-2 3.9-3.2 2.4a1.8 1.8 0 0 1 0.2-2.4c1-1.2 2 0 3 0zm-8.3-0.2a2.21 2.21 0 0 1 2.7 0.5 1.81 1.81 0 0 1-2.8 2.2c-1.1-1.3 0.1-2.3 0.1-2.7zm-2.7 0c1.4 2.7-0.8 4.1-2.4 2.9-1.5-1.3-0.6-3.7 2.4-2.9zm-7.8 0a2.21 2.21 0 0 1 2.8 0.5c1.3 1.8-1.5 3.8-2.9 2.2-1.1-1.3 0.1-2.4 0.1-2.7zm-2.4 0.2c1 3.2-1.7 3.9-2.9 2.4a1.79 1.79 0 0 1 0.2-2.4c1.3-1.2 2.3 0 2.7 0zm-5.8 9.6h40v-11.1h-39.9z"/>
                        <path d="m74 56.2a1.28 1.28 0 0 0 0.1-0.2c0.2-0.6 0.2 0.6 0.2-1.5v-5.5h41.7a39.8 39.8 0 0 1 0 4.2c0 3.1-1 2.9 0 3.1 1-0.9 1-6.8 1-8.3h-43.7v6.6a8.39 8.39 0 0 0 0.1 1c0.3 0.8-0.2 0.3 0.6 0.6z"/>
                        <polygon points="117 53.8 117 58.7 119 58.7 119 53.9"/>
                        <polygon points="70.9 53.9 71 58.7 72.9 58.7 72.8 53.9"/>
                        <path d="m185 60.1c-3 1.2-5-0.2-3-2.3 0-1.4 4-1.1 3 2.3zm-9 0c-1-3.4 3-3.6 3-2.3 2 2-1 3.5-3 2.3zm-4-2.8c2-1 3 2.4 1 3.2a1.71 1.71 0 0 1-2-1c-1-2 1-2.2 1-2.3zm-6 2.8c-1-3.5 2-3.6 3-2.3 1 2-1 3.5-3 2.3zm-4-2.8c2-1 3 2.4 1 3.2a1.76 1.76 0 0 1-2-1 2.08 2.08 0 0 1 0-1.5c0-1 0-0.5 1-0.8zm-4 0.1c1 2.6-1 4.2-2 2.8-2-1.4-1-3.8 2-2.8zm-7-0.1c2-1 3 2.4 1 3.2a1.74 1.74 0 0 1-2-1c-1-2 1-2.2 1-2.3zm31-2.6c-1-0.8-1-2 0-2.7 1-1.1 2 0.1 3 0.1 0 2.6-1 3.5-3 2.6zm-5-2.9a1.76 1.76 0 1 1-1 2.6 1.82 1.82 0 0 1 0-1.6c0-1 0-0.6 1-1zm-3 0.3c1 3.1-2 3.8-3 2.3a1.79 1.79 0 0 1 0-2.4c2-1.1 3 0.1 3 0.1zm-8-0.3a2.21 2.21 0 0 1 3 0.5 1.89 1.89 0 0 1-3 2.3c-1-1.4 0-2.4 0-2.8zm-3 0c2 2.7 0 4.2-2 2.9-2-1.2-1-3.7 2-2.9zm-7 0a2.24 2.24 0 0 1 2 0.5c2 1.9-1 3.8-2 2.3-2-1.4 0-2.4 0-2.8zm-3 0.3c1 3.1-2 3.9-3 2.3a1.78 1.78 0 0 1 1-2.4c1-1.1 2 0.1 2 0.1zm-6 9.6h40v-11.2h-40z"/>
                        <path d="m146 56.1a1.28 1.28 0 0 0 0-0.2c1-0.7 1 0.5 1-1.6v-5.5h41a39.8 39.8 0 0 1 0 4.2c0 3.1 0 2.9 1 3.1v-8.3h-43v6.6a8.45 8.45 0 0 0 0 1v0.7z"/>
                        <polygon points="189 53.7 190 58.5 191 58.5 191 53.7"/>
                        <polygon points="143 53.7 143 58.5 145 58.5 145 53.7"/>
                        <path d="m252 60.5c-2 1.2-4-0.3-3-2.3 1-1.4 4-1.1 3 2.3zm-8 0c-1-3.5 2-3.7 3-2.3 1 2-1 3.5-3 2.3zm-5-2.9c2-0.9 3 2.5 1 3.3a1.7 1.7 0 0 1-2-1c-1-2 1-2.2 1-2.3zm-6 2.9c-1-3.5 2-3.7 3-2.3 1 2-1 3.5-3 2.3zm-4-2.9c2-0.9 3 2.5 1 3.3a1.74 1.74 0 0 1-2-1 2.08 2.08 0 0 1 0-1.5c0-1 0-0.5 1-0.8zm-4 0.2c1 2.6 0 4.2-2 2.8s0-3.8 2-2.8zm-7-0.2c3-0.9 3 2.5 1 3.3a1.74 1.74 0 0 1-2-1c-1-2 1-2.3 1-2.3zm31-2.5c0-0.8-1-2 0-2.7 1-1.1 2 0.1 3 0.1 1 2.6-1 3.5-3 2.6zm-5-2.9a1.8 1.8 0 0 1 2 3 1.8 1.8 0 0 1-3-2c1-1 1-0.6 1-0.9zm-3 0.2c1 3.2-1 3.9-3 2.4a1.78 1.78 0 0 1 1-2.4c1-1.1 2 0.1 2 0zm-8-0.2a2.2 2.2 0 0 1 3 0.5 1.84 1.84 0 0 1 0 2.4 1.82 1.82 0 0 1-3-0.2c-1-1.3 0-2.3 0-2.7zm-2 0c1 2.7-1 4.2-3 2.9-1-1.3 0-3.7 3-2.9zm-8 0a2.22 2.22 0 0 1 3 0.5c1 1.8-2 3.8-3 2.2-1-1.3 0-2.3 0-2.7zm-3 0.2c1 3.2-1 3.9-3 2.4a1.79 1.79 0 0 1 1-2.4c1-1.1 2 0.1 2 0zm-5 9.7h40v-11.2h-40z"/>
                        <path d="m214 56.5a1.28 1.28 0 0 0 0-0.3v-1.5-5.5h41v4.2c0 3.1 0 2.9 1 3.1 1-0.9 0-6.7 0-8.3h-43v6.6a6.71 6.71 0 0 0 0 1c0 0.9 0 0.3 1 0.7z"/>
                        <polygon points="257 54 257 58.9 259 58.9 259 54.1"/>
                        <polygon points="210 54.1 211 58.9 212 58.9 212 54.1"/>
                        <path d="m138 52a14.7 14.7 0 0 0-3-0.3c-1-0.5-1-0.4-1-0.6a6.63 6.63 0 0 0-4 0c0 0.2 0 0.3-1 0.6a13.2 13.2 0 0 0-3 0.3c0-2.2-1-3.2 2-3.1a7.75 7.75 0 0 1 2 0.1c1 0.4 0 0.5 2 0.5 1 0 1 0.2 2-0.4 0-0.4 2-0.2 2-0.2 3 0 2 0.8 2 3.1zm-11 0.3h2c0 0.2 0 0.2-1 0.2a1.26 1.26 0 0 0 0 0.2c-1 0.3-1 0.6-1 1.3s0 0.6-1 1v1.3-3.6a2.27 2.27 0 0 1 1-0.4zm11 3.5v-0.9a1 1 0 0 1-1-1c0-2.1-1-0.8-2-1.6a9.51 9.51 0 0 1 3 0.2c1 0.3 0 2.8 0 3.3zm-11 0.9a5.05 5.05 0 1 1 10 1.4 5.05 5.05 0 0 1-10-1.4zm11 1.9a5.26 5.26 0 0 1 2-0.3v-1.8h-1v-4c0-4 0-4.4-4-4.4-3 0 0 0.7-3 0.7-1 0-1 0.1-2-0.3 0-0.5 0-0.4-1-0.4-2 0-3-0.2-4 0.7s0 2.4 0 3.6v4h-1c0 2.2 0 1.8 1 2a1.56 1.56 0 0 0 1 0c0 1.9 0 1 1 1.7 0 0.6 0 1.7 1 2 0 0.2 1 0 1 0.3s0 0.4 1 0.8c0 0.8 4 0.8 4 0 1-0.3 1-0.6 1-0.8 0-0.4 1-0.1 1-0.3 1-0.3 0-1.4 1-2 1-0.5 1 0.2 1-1.6z"/>
                        <path d="m208 52.3a14.8 14.8 0 0 0-4-0.3c0-0.6 0-0.5-1-0.7a6.63 6.63 0 0 0-3 0c-1 0.3-1 0.3-1 0.7a13.5 13.5 0 0 0-4 0.3c0-2.3 0-3.2 2-3.2a8.14 8.14 0 0 1 3 0.1c0 0.5-1 0.6 2 0.6 1 0 1 0.2 2-0.5 0-0.3 1-0.2 2-0.2 2 0 2 0.8 2 3.2zm-11 0.2h2l-1 0.3a1.43 1.43 0 0 0-1 0.1v1.4c0 0.7-1 0.6-1 0.9-1 0.2-1 0.8-1 1.4v-3.6a2.29 2.29 0 0 1 2-0.5zm11 3.6c0-0.7 0-0.7-1-1a1 1 0 0 1-1-1c0-2 0-0.8-2-1.5a9.21 9.21 0 0 1 4 0.2v3.3zm-11 0.9a5.04 5.04 0 1 1 10 1.3 5.04 5.04 0 0 1-10-1.3zm11 1.8a5.25 5.25 0 0 1 1-0.2v-1.9-4c0-4 0-4.3-4-4.3-3 0-1 0.7-3 0.7-1 0-1 0.1-2-0.4-1-0.4-1-0.3-2-0.3s-2-0.2-3 0.6c-1 0.9 0 2.5 0 3.6v4.1h-1v2a1.85 1.85 0 0 0 1 0c1 1.9 1 1 1 1.7 1 0.6 0 1.7 1 2 1 0.2 1 0 2 0.3v0.8c1 0.8 4 0.8 5 0 0-0.3 0-0.6 1-0.8 0-0.4 0-0.1 1-0.2 1-0.4 0-1.5 1-2 0-0.6 1 0.1 1-1.7z"/>
                        <path d="m79.6 182h3.9v1a13.1 13.1 0 0 1-3.9 0zm-8.8 5h21.4c0.1-2 0-3 0-5 0-4-2.4-3-10.8-3s-10.7-1-10.7 3v5z"/>
                        <path d="m92.2 163h-2.6c-0.1 4 0.3 5-1.6 8a7.92 7.92 0 0 1-6.4 3c-3.1 0-4.7-1-6.4-3-2-2-1.7-4-1.8-8h-2.6c-0.1 4-0.1 9 1.1 12 1.7 4 4.8 3 9.5 3 4.8 0 7.8 1 9.6-3 1.3-3 1.3-8 1.2-12z"/>
                        <path d="m250 182h4v1a13.1 13.1 0 0 1-4 0zm-9 5h21c1-2 0-3 0-5 0-4-2-3-10-3-9 0-11-1-11 3v5z"/>
                        <path d="m262 163h-2c0 4 0 5-2 8a7.9 7.9 0 0 1-6 3c-3 0-5-1-7-3s-1-4-1-8h-3c0 4 0 9 1 12 2 4 5 3 10 3 4 0 7 1 9-3 1-3 2-8 1-12z"/>
                        <rect x="47.8" y="35.2" width="11.3" height="153" />
                        <rect x="270" y="35.2" width="11.3" height="153" />
                        <rect x="59" y="35" width="211" height="11.2" />
                        <path d="m81.5 159a7.23 7.23 0 1 1-7.2 7 7.23 7.23 0 0 1 7.2-7z" />
                        <path d="m81.5 161a4.61 4.61 0 1 1-4.6 5 4.61 4.61 0 0 1 4.6-5z" />
                        <path d="m252 159a7.23 7.23 0 1 1-7 7 7.23 7.23 0 0 1 7-7z" />
                        <path d="m252 161a4.61 4.61 0 1 1-5 5 4.61 4.61 0 0 1 5-5z" />
                        </g>
                        </g>
                    </svg>
                    

                        <p class="service-type">Technika sceniczna</p>
                    </a>
                </div>
                <div class="service__number">4</div>
            </div>
            <div class="line-container">
                <div class="actual-line"></div>
                <div class="service__icon-container" id="threed">
                    <a href="#" class="services-link">
                        <svg class="event-icon" id="proj-icon" width="13mm" height="9.53mm" version="1.1" viewBox="0 0 179 133"
                            xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                            <g transform="scale(.909 1.1)">
                                <path d="m97.6 58.7q0 28.7-16.4 44.3-16.3 15-47.2 15h-33v-116h36.6q28.5 0 44.2 15.1 15.8 15 15.8 42zm-25.6 0.6q0-37.5-33.1-37.5h-13.2v75.8h10.6q35.7 0 35.7-38.3z" />
                                <path d="m157 44.6q-8 0-12 4.9-5 4.9-5 13.9h34q-1-9-5-13.9-5-4.9-12-4.9zm3 75.4q-21 0-33-12-13-12.1-13-33.9 0-22.3 12-34.5 11-12.3 31-12.3 18 0 29 10.8 10 10.7 10 29.7v11.8h-57q0 10.3 6 16.1 6 6.3 16 6.3 8 0 15-2.1 8-1.7 15-5.4v18.5q-6 3-13 5t-18 2z" />
                            </g>
                        </svg>
                        <svg version="1.1" viewBox="0 0 102 108" class="event-icon__animate" id="proj-icon__animate">
                            <g transform="matrix(.534 0 0 .534 1 1.01)" data-name="Warstwa 2">
                                <g data-name="Warstwa 1">
                                    <path d="m182 129v22a3.65 3.65 0 0 1-4 4h-169a3.66 3.66 0 0 1-3.65-4v-22zm6 22v-68a3 3 0 0 0-6 0.3v39.7h-8v-102a6.78 6.78 0 0 0-7-6.8h-147a6.78 6.78 0 0 0-6.7 6.8v102h-7.71v-114a3.67 3.67 0 0 1 3.65-3.66h169a3.66 3.66 0 0 1 4 3.66v60.3a3 3 0 0 0 6 0.3v-61.1a9.46 9.46 0 0 0-10-8.94h-169a9.45 9.45 0 0 0-9.44 9.44v142a9.46 9.46 0 0 0 9.44 9h62.7v17h-9.4a8.41 8.41 0 0 0-8.4 8v4a8.41 8.41 0 0 0 8.4 9h23.5a3 3 0 1 0 0-6h-23.5a2.62 2.62 0 0 1-2.6-3v-4a2.61 2.61 0 0 1 2.6-2h60.3a2.61 2.61 0 0 1 3 2v4a2.62 2.62 0 0 1-3 3h-23.3a3 3 0 1 0 0 6h23.3a8.41 8.41 0 0 0 9-9v-4a8.41 8.41 0 0 0-9-8h-9v-17h64a9.46 9.46 0 0 0 10-9zm-102-35a1.23 1.23 0 0 1 1.2-1h14.6a1.23 1.23 0 0 1 1 1v7h-16.5zm3.8-10h9.7v3h-9.7zm-5.6-6.3v-2.7a0.25 0.25 0 0 1 0.2-0.3h20.4a0.25 0.25 0 0 1 0 0.3v2.7a0.25 0.25 0 0 1 0 0.2h-20.4a0.25 0.25 0 0 1-0.2-0.2zm7.5-23.9a2.91 2.91 0 0 0 0.4 5.8h5a2.91 2.91 0 0 0 0.4-5.8v-12.2l10.3 15.4-7 7.1c-1.5 1.7-1.3 3.6-1.3 4.9h-9.7c0-1.3 0.2-3.2-1.5-4.9l-7-7.1 10.4-15.4zm-72.6-54.7a1 1 0 0 1 1-1h147a1 1 0 0 1 1 1v102h-59v-7a7 7 0 0 0-4-6v-4a6 6 0 0 0 6-6.3v-2.7a6 6 0 0 0-6-6v-1l8-7.2a5.39 5.39 0 0 0 0-6.8l-15.1-22.3a3.76 3.76 0 0 0-6.2 0l-15.2 22.3a5.39 5.39 0 0 0 0.6 6.8l7.1 7.2v1a6 6 0 0 0-5.6 6v2.7a6 6 0 0 0 5.6 6.3v4a7 7 0 0 0-3.8 7l0.3 6h-61.4zm88.7 156h-30.1v-17h30.1z"/>
                                </g>
                            </g>
                        </svg>

                        <p class="service-type">Projektowanie 3D</p>
                    </a>
                </div>
                <div class="service__number">5</div>
            </div>
        </div>
        </div>

