<div class="uslugi" id="uslugi">
            <div class="uslugi__text">
                <h3>USŁUGIS</h3>
                <div class="paragraph">
                    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio saepe iste laudantium aliquid
                        deserunt ad.
                        Optio, sequi nostrum voluptates esse quae porro ipsum ipsam a at fugit quaerat soluta aliquid.
                        Commodi eligendi quas repellendus aperiam! Cum amet dignissimos repellendus molestiae rem, in
                        labore deleniti
                        obcaecati sit molestias exercitationem praesentium libero ipsa accusamus inventore. Possimus
                        alias
                        voluptas,
                        dolores recusandae doloremque excepturi.
                    </p>
                </div>
            </div>

            <div class="console">
                <div class="line-container">
                    <div class="actual-line"></div>
                    <div class="service__icon-container" id="events">
                        <a href="#" class="services-link">
                            <svg class="event-icon" width="14mm" height="9.67mm" version="1.1" viewBox="0 0 194 134"
                                xml:space="preserve" xmlns="http://www.w3.org/2000/svg">

                                <path d="m1.39 1.19h78.2v25.7h-49v24.5h46.3v25.7h-46.3v28.9h50.9v26h-80.1z" />
                                <path d="m95.3 34.1h26.7l21 67.9 22-67.9h27l-34 97.9h-30z" />
                            </svg>
                            <p class="service-type">Organizacja Eventow</p>
                        </a>
                    </div>
                    <div class="service__number">1</div>
                </div>
                <div class="line-container">
                    <div class="actual-line"></div>
                    <div class="service__icon-container" id="sound">
                        <a href="#" class="services-link">
                            <svg class="event-icon" id="sound-icon" width="14mm" height="9.67mm" version="1.1" viewBox="0 0 194 134"
                                xml:space="preserve" xmlns="http://www.w3.org/2000/svg">

                                <g transform="scale(.924 1.08)" aria-label="So">
                                    <path d="m85.8 6.47v24.9q-9.8-4.3-19-6.5t-17.5-2.2q-10.9 0-16.1 3t-5.2 9.3q0 4.7 3.5 7.4 3.5 2.6 12.8 4.5l12.9 2.6q19.7 4 28 12.1 8.3 8 8.3 22.9 0 19.5-11.6 29.5-11.5 9-35.3 9-11.3 0-22.6-2t-22.6-6v-26.1q11.3 6 21.9 9.1 10.5 3 20.3 3 10 0 15.3-3.3t5.3-9.5q0-5.5-3.6-8.5t-14.3-5.4l-11.8-2.6q-17.7-3.8-25.9-12.1-8.14-8.3-8.14-22.4 0-17.6 11.4-27.1 11.4-9.47 32.7-9.47 9.7 0 20 1.5 10.3 1.42 21.3 4.34z"
                                        style="stroke-width:2.49" />
                                    <path d="m161 50.3q-9 0-14 6.8-5 6.7-5 19.5 0 12.7 5 19.5 5 6.9 14 6.9t14-6.9q5-6.8 5-19.5 0-12.8-5-19.5-5-6.8-14-6.8zm0-20.2q23 0 36 12.3 13 12.4 13 34.2t-13 34.4q-13 12-36 12t-36-12q-13-12.6-13-34.4t13-34.2q13-12.3 36-12.3z"
                                        style="stroke-width:2.49" />
                                </g>
                            </svg>
                            <p class="service-type">Nagłosnienie</p>
                        </a>
                    </div>

                    <div class="service__number">2</div>
                </div>
                <div class="line-container">
                    <div class="actual-line"></div>
                    <div class="service__icon-container" id="oswietlenie">
                        <a href="#" class="services-link">
                            <svg class="event-icon" id="oswietlenie-icon" width="8.89mm" height="9.71mm" version="1.1"
                                viewBox="0 0 123 135" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <g transform="matrix(.989 0 0 1.01 -32.4 .875)">
                                    <path d="m34.2 131v-123h26v101h49.8v22z" style="stroke-width:2.62" />
                                    <path d="m128 13q0-12.5 14-12.5t14 12.5q0 5.9-4 9.3-3 3.3-10 3.3-14 0-14-12.6zm27 118h-26v-93.8h26z" />
                                </g>
                            </svg>
                            <p class="service-type">Oswietlenie</p>
                        </a>
                    </div>
                    <div class="service__number">3</div>
                </div>
                <div class="line-container">
                    <div class="actual-line"></div>
                    <div class="service__icon-container" id="ts">
                        <a href="#" class="services-link">
                            <svg class="event-icon" id="ts-icon" width="12mm" height="9.78mm" version="1.1" viewBox="0 0 166 136"
                                xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <g transform="scale(.934 1.07)">
                                    <path d="m60.6 124h-26.1v-101h-33.3v-21.7h92.7v21.7h-33.3z" />
                                    <path d="m176 96.1q0 14.9-10 21.9-10 8-30 8-10 0-17-2-7-1-14-4v-20.9q8 2.9 16 5.9 9 2 16 2 14 0 14-8.1 0-3-2-4.9t-6-4.3q-5-2.4-12-5.6-11-4.5-16-8.4t-7-8.8q-3-5.1-3-12.4 0-12.5 10-19.3 10-6.9 27-6.9t33 7.4l-7 18.5q-7-3-13-5-7-1.9-13-1.9-11 0-11 6.1 0 3.5 3 6 4 2.5 16 7.5 11 4.4 16 8.3 6 3.9 8 8.9t2 12z" />
                                </g>
                            </svg>
                            <p class="service-type">Technika sceniczna</p>
                        </a>
                    </div>
                    <div class="service__number">4</div>
                </div>
                <div class="line-container">
                    <div class="actual-line"></div>
                    <div class="service__icon-container" id="proj">
                        <a href="#" class="services-link">
                            <svg class="event-icon" id="proj-icon" width="13mm" height="9.53mm" version="1.1" viewBox="0 0 179 133"
                                xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                <g transform="scale(.909 1.1)">
                                    <path d="m97.6 58.7q0 28.7-16.4 44.3-16.3 15-47.2 15h-33v-116h36.6q28.5 0 44.2 15.1 15.8 15 15.8 42zm-25.6 0.6q0-37.5-33.1-37.5h-13.2v75.8h10.6q35.7 0 35.7-38.3z" />
                                    <path d="m157 44.6q-8 0-12 4.9-5 4.9-5 13.9h34q-1-9-5-13.9-5-4.9-12-4.9zm3 75.4q-21 0-33-12-13-12.1-13-33.9 0-22.3 12-34.5 11-12.3 31-12.3 18 0 29 10.8 10 10.7 10 29.7v11.8h-57q0 10.3 6 16.1 6 6.3 16 6.3 8 0 15-2.1 8-1.7 15-5.4v18.5q-6 3-13 5t-18 2z" />
                                </g>
                            </svg>
                            <p class="service-type">Projektowanie 3D</p>
                        </a>
                    </div>
                    <div class="service__number">5</div>
                </div>
            </div>
        </div>