<div class="events-template service-template">
    <div class="ss__bg-picture"><img class="asset" height="460px" width="619px" src="./images/Events.jpg" alt=""></div>
    <div class="ss__text-container">
        <h4 class="events-title">Organizacja Eventow</h4>
        <p class="ss_text">This is events dummy text
        </p>
        <div class="ss__list">
        <p>Nasz proces:</p>
            <div class="tools">
                <div class="tool1">
                <svg class="ss__icon" viewBox="0 0 12.15 12.14">
                    <g id="Warstwa_x0020_1">
                        <g id="_2811258540496">
                            <path fill="#F47727" fill-rule="nonzero" d="M11.86 10.49l-2.53 -2.53 -0.18 0.18 -0.28 -0.28c1.44,-1.93 1.28,-4.67 -0.47,-6.42 -1.92,-1.92 -5.04,-1.92 -6.96,0 -1.92,1.92 -1.92,5.04 0,6.96 1.75,1.75 4.49,1.91 6.42,0.47l0.28 0.28 -0.18 0.18 2.53 2.53c0.38,0.38 1,0.38 1.37,0 0.38,-0.38 0.38,-0.99 0,-1.37zm-4.53 -3.16c-1.33,1.33 -3.49,1.33 -4.82,0 -1.33,-1.33 -1.33,-3.49 0,-4.82 1.33,-1.33 3.49,-1.33 4.82,0 1.33,1.33 1.33,3.49 0,4.82z"/>
                            <path fill="#F47727" fill-rule="nonzero" d="M3.93 4.7c0.05,0.33 0.3,0.74 0.72,0.89 0.17,0.06 0.36,0.06 0.53,0 0.41,-0.15 0.67,-0.56 0.72,-0.89 0.06,-0.01 0.13,-0.08 0.2,-0.36 0.11,-0.38 -0.01,-0.43 -0.1,-0.42 0.02,-0.05 0.03,-0.1 0.04,-0.15 0.16,-0.97 -0.32,-1.01 -0.32,-1.01 0,0 -0.08,-0.15 -0.29,-0.27 -0.14,-0.08 -0.34,-0.15 -0.59,-0.13 -0.08,0.01 -0.16,0.02 -0.23,0.05 -0.09,0.03 -0.18,0.08 -0.26,0.13 -0.1,0.06 -0.19,0.14 -0.27,0.22 -0.13,0.13 -0.24,0.3 -0.29,0.51 -0.04,0.16 -0.03,0.32 0,0.5 0.01,0.05 0.02,0.1 0.04,0.15 -0.1,-0.01 -0.21,0.05 -0.1,0.42 0.08,0.27 0.15,0.35 0.2,0.35z"/>
                            <path fill="#F47727" fill-rule="nonzero" d="M6.65 6.03c-0.57,-0.22 -0.91,-0.44 -0.91,-0.44l-0.44 1.39 -0.06 0.19 -0.2 -0.56c0.45,-0.63 -0.04,-0.66 -0.12,-0.66l-0.01 0c-0.08,0 -0.57,0.03 -0.12,0.66l-0.2 0.56 -0.06 -0.19 -0.44 -1.39c0,0 -0.34,0.22 -0.91,0.44 -0.31,0.11 -0.45,0.29 -0.53,0.56 0.08,0.11 0.17,0.22 0.27,0.32 1.1,1.1 2.87,1.1 3.97,0 0.1,-0.1 0.19,-0.21 0.27,-0.32 -0.07,-0.27 -0.21,-0.45 -0.52,-0.56z"/>
                        </g>
                    </g>
                </svg>
                <p>Analiza potrzeb</p></div>
                <div class="tool2">
                <svg class="ss__icon" viewBox="0 0 12.61 12.61">
                    <g id="Warstwa_x0020_1">                    
                        <g id="_2811253837424">
                            <path fill="#5FF2D4" fill-rule="nonzero" d="M7.78 8.52c-0.14,0 -0.25,0.11 -0.25,0.25 0,0.14 0.11,0.25 0.25,0.25 0.14,0 0.25,-0.11 0.25,-0.25 0,-0.14 -0.11,-0.25 -0.25,-0.25z"/>
                            <path fill="#5FF2D4" fill-rule="nonzero" d="M11.38 0l-10.15 0c-0.68,0 -1.23,0.55 -1.23,1.23l0 7.54c0,0.68 0.55,1.23 1.23,1.23l3.84 0 0 1.13 -0.25 0c-0.33,0 -0.64,0.13 -0.87,0.36 -0.23,0.23 -0.36,0.54 -0.36,0.87 0,0.14 0.11,0.25 0.25,0.25l4.93 0c0.14,0 0.25,-0.11 0.25,-0.25 0,-0.68 -0.55,-1.23 -1.23,-1.23l-0.25 0 0 -1.13 3.84 0c0.68,0 1.23,-0.55 1.23,-1.23l0 -7.54c0,-0.68 -0.55,-1.23 -1.23,-1.23zm-10.15 0.49l10.15 0c0.41,0 0.74,0.33 0.74,0.74l0 6.31 -1.13 0 0 -5.67c0,-0.14 -0.11,-0.25 -0.25,-0.25l-1.97 0c-0.14,0 -0.25,0.11 -0.25,0.25l0 5.67 -1.23 0c-0,-0.25 -0.01,-0.51 -0.02,-0.75 -0.04,-1 -0.14,-1.68 -0.19,-1.97 0.51,-0.37 0.65,-1.07 0.34,-1.61l-0.85 -1.48c-0.04,-0.08 -0.13,-0.12 -0.21,-0.12 -0.09,0 -0.17,0.05 -0.21,0.12l-0.85 1.48c-0.29,0.51 -0.19,1.17 0.27,1.55 -0.05,0.29 -0.16,0.99 -0.21,2.02 -0.01,0.25 -0.02,0.5 -0.02,0.75l-1.23 0 0 -3.7c0,-0.04 -0.01,-0.07 -0.02,-0.11 -0,-0 -0,-0 -0,-0l-0.99 -1.97c-0.04,-0.08 -0.13,-0.14 -0.22,-0.14 -0.09,0 -0.18,0.05 -0.22,0.14l-0.99 1.97c-0,0 -0,0 -0,0 -0.02,0.03 -0.02,0.07 -0.02,0.11l0 3.7 -1.13 0 0 -6.31c0,-0.41 0.33,-0.74 0.74,-0.74zm7.78 7.05l0 -5.42 1.48 0 0 0.49 -0.25 0c-0.14,0 -0.25,0.11 -0.25,0.25 0,0.14 0.11,0.25 0.25,0.25l0.25 0 0 0.74 -0.25 0c-0.14,0 -0.25,0.11 -0.25,0.25 0,0.14 0.11,0.25 0.25,0.25l0.25 0 0 0.74 -0.25 0c-0.14,0 -0.25,0.11 -0.25,0.25 0,0.14 0.11,0.25 0.25,0.25l0.25 0 0 0.99 -0.25 0c-0.14,0 -0.25,0.11 -0.25,0.25 0,0.14 0.11,0.25 0.25,0.25l0.25 0 0 0.49 -1.48 0zm-2.67 -2.48c0.09,0 0.18,-0.01 0.27,-0.03 0.05,0.29 0.11,0.81 0.15,1.52l-0.92 0c0.04,-0.71 0.11,-1.24 0.16,-1.54 0.11,0.03 0.22,0.05 0.34,0.05zm0 -0.49c-0.56,0 -0.93,-0.61 -0.64,-1.11l0.64 -1.11 0.64 1.11c0.28,0.49 -0.07,1.11 -0.64,1.11zm-0.52 2.48l0.96 0c0.01,0.16 0.01,0.33 0.01,0.49l-0.98 0c0,-0.17 0.01,-0.33 0.01,-0.49zm-2.72 0.49l0 -3.45 0.49 0 0 3.45 -0.49 0zm-0.99 0l0 -3.45 0.49 0 0 3.45 -0.49 0zm0.15 -3.94l0.59 -1.17 0.59 1.17 -1.17 0zm6.21 8.52l-4.35 0c0.04,-0.1 0.1,-0.2 0.17,-0.28 0.14,-0.14 0.33,-0.22 0.52,-0.22l2.96 0c0.32,0 0.6,0.21 0.7,0.49zm-1.44 -0.99l-1.48 0 0 -1.13 1.48 0 0 1.13zm4.34 -1.63l-10.15 0c-0.41,0 -0.74,-0.33 -0.74,-0.74l0 -0.74 11.63 0 0 0.74c0,0.41 -0.33,0.74 -0.74,0.74z"/>
                            <path fill="#5FF2D4" fill-rule="nonzero" d="M6.8 8.52l-1.48 0c-0.14,0 -0.25,0.11 -0.25,0.25 0,0.14 0.11,0.25 0.25,0.25l1.48 0c0.14,0 0.25,-0.11 0.25,-0.25 0,-0.14 -0.11,-0.25 -0.25,-0.25z"/>
                        </g>
                    </g>
                </svg>
                <p>Projekt</p></div>
                <div class="tool3">
                <svg class="ss__icon" viewBox="0 0 16.9 10.56">
                    <g id="Warstwa_x0020_1">
                        <g id="_2811258510640">
                            <path fill="#AAAAFB" fill-rule="nonzero" d="M8.45 10.56c-0.43,0 -0.99,-0.24 -1.25,-0.41 -0.31,-0.21 -1.89,-1.39 -3.2,-2.49 -0.22,-0.18 -0.54,-0.52 -0.86,-0.85 -0.23,-0.24 -0.44,-0.47 -0.55,-0.56 -0.15,-0.13 -0.17,-0.35 -0.04,-0.5 0.12,-0.15 0.35,-0.17 0.5,-0.04 0.12,0.1 0.35,0.34 0.61,0.61 0.29,0.3 0.61,0.64 0.8,0.8 1.34,1.12 2.89,2.28 3.13,2.44 0.21,0.14 0.63,0.29 0.86,0.29 0.33,0 0.36,-0.08 0.37,-0.12 0.04,-0.11 0.13,-0.19 0.25,-0.22 0.11,-0.03 0.23,0 0.32,0.08 0.14,0.13 0.3,0.1 0.4,0.06 0.22,-0.09 0.39,-0.31 0.42,-0.54 0.01,-0.13 0.1,-0.25 0.23,-0.3 0.13,-0.05 0.27,-0.02 0.37,0.07 0.09,0.08 0.32,0.1 0.55,-0.01 0.09,-0.04 0.29,-0.17 0.27,-0.4 -0.01,-0.14 0.05,-0.27 0.17,-0.34 0.12,-0.07 0.27,-0.07 0.38,0.01 0.1,0.07 0.29,0.03 0.43,-0.09 0.09,-0.08 0.24,-0.26 0.1,-0.53 -0.26,-0.55 -1.44,-1.5 -2.47,-2.34 -0.57,-0.46 -1.12,-0.9 -1.52,-1.28 -0.1,0.04 -0.18,0.08 -0.25,0.11 -0.18,0.08 -0.3,0.13 -0.53,0.17 -0.54,0.72 -1.27,0.97 -2.07,0.71 -0.32,-0.1 -0.53,-0.33 -0.6,-0.63 -0.17,-0.71 0.49,-1.69 0.97,-2.17 1.27,-1.27 2.15,-1.74 3.76,-1.02 1.39,0.62 2.77,1.11 2.79,1.11 0.18,0.06 0.28,0.26 0.22,0.45 -0.06,0.18 -0.26,0.28 -0.45,0.22 -0.01,-0 -1.43,-0.5 -2.84,-1.13 -1.25,-0.56 -1.84,-0.27 -2.98,0.87 -0.48,0.48 -0.85,1.2 -0.78,1.51 0.01,0.05 0.03,0.09 0.14,0.13 0.34,0.12 0.86,0.18 1.36,-0.57 0.06,-0.09 0.15,-0.14 0.26,-0.15 0.24,-0.02 0.3,-0.05 0.47,-0.13 0.12,-0.05 0.26,-0.12 0.5,-0.2 0.13,-0.05 0.27,-0.01 0.37,0.08 0.39,0.39 0.99,0.87 1.63,1.39 1.15,0.93 2.33,1.89 2.66,2.58 0.23,0.49 0.12,1.02 -0.28,1.37 -0.24,0.2 -0.53,0.3 -0.81,0.29 -0.1,0.25 -0.31,0.47 -0.59,0.61 -0.29,0.15 -0.61,0.19 -0.88,0.13 -0.15,0.3 -0.41,0.55 -0.73,0.68 -0.27,0.11 -0.55,0.1 -0.8,0.01 -0.19,0.16 -0.45,0.24 -0.8,0.24z"/>
                            <path fill="#AAAAFB" fill-rule="nonzero" d="M7.04 2.11l-3.17 0c-0.19,0 -0.35,-0.16 -0.35,-0.35 0,-0.19 0.16,-0.35 0.35,-0.35l3.17 0c0.19,0 0.35,0.16 0.35,0.35 0,0.19 -0.16,0.35 -0.35,0.35z"/>
                            <path fill="#AAAAFB" fill-rule="nonzero" d="M13.05 7.73c-0.11,0 -0.22,-0.05 -0.29,-0.16 -0.11,-0.16 -0.07,-0.38 0.1,-0.49l1.03 -0.69c0.16,-0.11 0.38,-0.07 0.49,0.1 0.11,0.16 0.07,0.38 -0.1,0.49l-1.03 0.69c-0.06,0.04 -0.13,0.06 -0.2,0.06z"/>
                            <path fill="#AAAAFB" fill-rule="nonzero" d="M11.97 8.8c-0.08,0 -0.15,-0.02 -0.22,-0.08 -0.37,-0.29 -1.97,-1.96 -2.15,-2.15 -0.13,-0.14 -0.13,-0.36 0.01,-0.5 0.14,-0.14 0.36,-0.13 0.5,0.01 0.7,0.73 1.82,1.88 2.08,2.08 0.15,0.12 0.18,0.34 0.06,0.49 -0.07,0.09 -0.17,0.13 -0.28,0.13z"/>
                            <path fill="#AAAAFB" fill-rule="nonzero" d="M10.56 9.5c-0.08,0 -0.15,-0.03 -0.22,-0.08 -0.52,-0.42 -1.79,-1.78 -1.8,-1.8 -0.13,-0.14 -0.12,-0.37 0.02,-0.5 0.14,-0.13 0.37,-0.12 0.5,0.02 0.24,0.26 1.3,1.39 1.72,1.72 0.15,0.12 0.18,0.34 0.05,0.49 -0.07,0.09 -0.17,0.13 -0.28,0.13z"/>
                            <path fill="#AAAAFB" fill-rule="nonzero" d="M9.15 10.21c-0.08,0 -0.16,-0.03 -0.23,-0.08 -0.52,-0.44 -1.5,-1.48 -1.79,-1.79 -0.13,-0.14 -0.13,-0.36 0.02,-0.5 0.14,-0.13 0.36,-0.13 0.5,0.02 0.2,0.21 1.23,1.31 1.73,1.73 0.15,0.13 0.17,0.35 0.04,0.5 -0.07,0.08 -0.17,0.13 -0.27,0.13z"/>
                            <path fill="#AAAAFB" fill-rule="nonzero" d="M0.7 6.34l1.5 0c0.26,-0.83 1.11,-3.57 1.29,-5.11 -0.44,-0.22 -1.66,-0.41 -2.8,-0.5l0 5.61zm1.76 0.7l-2.11 0c-0.19,0 -0.35,-0.16 -0.35,-0.35l0 -6.34c0,-0.1 0.04,-0.19 0.11,-0.26 0.07,-0.06 0.15,-0.1 0.24,-0.1l0 0c0.01,0 0.01,0 0.02,0 0.73,0.04 3.14,0.23 3.74,0.8 0.08,0.07 0.12,0.18 0.11,0.29 -0.16,1.83 -1.37,5.55 -1.42,5.71 -0.05,0.14 -0.18,0.24 -0.33,0.24z"/>
                            <path fill="#AAAAFB" fill-rule="nonzero" d="M14.7 7.04l1.5 0 0 -5.63c-1.67,0.04 -2.83,0.35 -3.37,0.54 0.55,1.17 1.54,4.01 1.87,5.09zm1.85 0.7l-2.11 0c-0.16,0 -0.3,-0.11 -0.34,-0.26 -0.26,-0.95 -1.62,-4.84 -2.06,-5.54 -0.05,-0.09 -0.07,-0.19 -0.04,-0.29 0.03,-0.1 0.1,-0.18 0.19,-0.22 0.06,-0.03 1.6,-0.74 4.36,-0.74 0.19,0 0.35,0.16 0.35,0.35l0 6.34c0,0.19 -0.16,0.35 -0.35,0.35z"/>
                        </g>
                    </g>
                </svg>  

                <p>Umowa</p></div>
            </div>
        </div>
    </div>
</div>
