<div class="threed-template service-template">
    <div class="ss__bg-picture"><img class="asset" src="./images/threed.jpg"></div>
    <div class="ss__text-container">
        <h4 class="threed-title">Projektowanie 3D</h4>
        <p class="ss_text"> This is Projektowanie 3D dummy text
        </p>
        <div class="ss__list">
        <p>Jak to działa:</p>
            <ul class="threed-list">
                <li><svg width="9.8631mm" height="9.8628mm" viewBox="0 0 3.67 3.67">
                        <g id="Warstwa_x0020_1">
                            <path fill="#F46C6E" fill-rule="nonzero" d="M3.67 1.83c0,1.01 -0.82,1.83 -1.83,1.83 -1.01,0 -1.83,-0.82 -1.83,-1.83 0,-1.01 0.82,-1.83 1.83,-1.83 1.01,0 1.83,0.82 1.83,1.83z"/>
                            <path fill="#FEFBF5" fill-rule="nonzero" d="M2.14 2.41l-0.6 0 -0.17 0.37 -0.54 0 1 -1.96 0.67 0 0.16 1.96 -0.51 0 -0.01 -0.37zm-0.41 -0.42l0.39 0 -0.02 -0.57 -0 -0.12c0,-0.07 0,-0.13 0.01,-0.18 -0.02,0.08 -0.05,0.15 -0.08,0.22l-0.29 0.64z"/>
                        </g>
                    </svg>
                        <div>
                            <p class="threed-list__points">POMIESZCZENIE</p>
                            <p>Some small dummy text</p>
                        </div>
                    </li>
                <li>
                    <svg width="9.8631mm" height="9.863mm" viewBox="0 0 3.67 3.67">
                        <g id="Warstwa_x0020_1">
                            <path fill="#F46C6E" fill-rule="nonzero" d="M3.67 1.83c0,1.01 -0.82,1.83 -1.83,1.83 -1.01,0 -1.83,-0.82 -1.83,-1.83 0,-1.01 0.82,-1.83 1.83,-1.83 1.01,0 1.83,0.82 1.83,1.83z"/>
                            <path fill="#FEFBF5" fill-rule="nonzero" d="M1.45 0.82l0.65 0c0.19,0 0.34,0.04 0.44,0.11 0.1,0.07 0.15,0.18 0.15,0.32 0,0.26 -0.13,0.42 -0.4,0.5l0 0.01c0.08,0.03 0.14,0.07 0.19,0.14 0.05,0.06 0.07,0.14 0.07,0.24 0,0.2 -0.07,0.36 -0.2,0.47 -0.14,0.11 -0.33,0.17 -0.58,0.17l-0.73 0 0.41 -1.96zm0.36 0.75l0.1 0c0.08,0 0.14,-0.02 0.18,-0.05 0.04,-0.03 0.06,-0.09 0.06,-0.16 0,-0.09 -0.06,-0.14 -0.17,-0.14l-0.08 0 -0.08 0.35zm-0.08 0.39l-0.09 0.41 0.11 0c0.08,0 0.14,-0.02 0.19,-0.06 0.05,-0.04 0.08,-0.1 0.08,-0.16 0,-0.06 -0.01,-0.11 -0.04,-0.14 -0.03,-0.03 -0.08,-0.05 -0.16,-0.05l-0.09 0z"/>
                        </g>
                    </svg>              
                        <div>
                            <p class="threed-list__points">OSWIETLENIE</p>
                            <p>Some small dummy text</p>
                        </div>
                    </li>
                <li>
                    <svg width="9.8631mm" height="9.8628mm"
                    viewBox="0 0 3.67 3.67">
                        <g id="Warstwa_x0020_1">
                            <path fill="#F46C6E" fill-rule="nonzero" d="M3.67 1.83c0,1.01 -0.82,1.83 -1.83,1.83 -1.01,0 -1.83,-0.82 -1.83,-1.83 0,-1.01 0.82,-1.83 1.83,-1.83 1.01,0 1.83,0.82 1.83,1.83z"/>
                            <path fill="#FEFBF5" fill-rule="nonzero" d="M1.98 1.22c-0.1,0 -0.18,0.03 -0.26,0.1 -0.08,0.07 -0.14,0.17 -0.18,0.29 -0.04,0.12 -0.07,0.25 -0.07,0.4 0,0.12 0.03,0.21 0.07,0.27 0.05,0.06 0.12,0.09 0.22,0.09 0.07,0 0.15,-0.01 0.22,-0.03 0.08,-0.02 0.16,-0.05 0.27,-0.09l0 0.43c-0.18,0.08 -0.38,0.12 -0.59,0.12 -0.23,0 -0.41,-0.07 -0.54,-0.2 -0.13,-0.13 -0.19,-0.32 -0.19,-0.56 0,-0.24 0.05,-0.46 0.14,-0.65 0.09,-0.2 0.21,-0.35 0.37,-0.45 0.16,-0.1 0.33,-0.15 0.53,-0.15 0.24,0 0.45,0.06 0.64,0.17l-0.2 0.41c-0.08,-0.05 -0.16,-0.09 -0.23,-0.11 -0.07,-0.02 -0.14,-0.04 -0.22,-0.04z"/>
                        </g>
                    </svg>
                        <div>
                            <p class="threed-list__points">WISUALIZACJA</p>
                            <p>Some small dummy text</p>
                        </div>    
                    </li>
            </ul>
        </div>
        <div class="ss__list2">
            <p>Pracujemy na:</p>
            <div class="tools">
                <img class="ss__icon_small" src="./images/Icons/Proj3d/grandma2.jpg">
                <img class="ss__icon_4d" src="./images/Icons/Proj3d/cinema4d.png">
                <img class="ss__icon_md" src="./images/Icons/Proj3d/wysiwyg.jpg">
                <img class="ss__icon_small_adob" src="./images/Icons/Proj3d/pakiet.png">
            </div>
        </div>
    </div>
</div>