<div class="ts-template">
    <div class="ss__bg-picture"><img class="asset" height="460px" width="640px" src="./images/868074.png" alt=""></div>
    <div class="ss__text-container">
        <h4>Technika Sceniczna</h4>
        <p class="ss_text">This is Technika Sceniczna dummy text
        </p>
        <div class="ss__list">
            <ul>
                <li>Tool 1</li>
                <li>Tool 2</li>
                <li>Tool 3</li>
                <li>Tool 4</li>
            </ul>
        </div>
    </div>
</div>