<div class="ts-template service-template">
  <div class="ss__bg-picture">
    <img class="asset" src="./images/techSceniczna.jpg" alt="" />
  </div>
  <div class="ss__text-container">
    <h4>Technika Sceniczna</h4>
    <p class="ss_text">Pracujemy na:</p>
    <div>
      <div>
        <img class="ss__icon_small" src="./images/Icons/Ts/alustage.png" />
      </div>
    </div>
  </div>
</div>
