<div class="ts-template service-template">
  <div class="ss__bg-picture">
    <img class="asset" src="./images/techSceniczna.jpg" alt="" />
  </div>
  <div class="ss__text-container">
    <h4>Technika Sceniczna</h4>
    <p class="ss_text">This is Technika Sceniczna dummy text</p>
    <!-- <div class="ss__list">
     
    </div> -->
  </div>
</div>
