* {
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(49, 49, 49);
}

a {
    text-decoration: none;
    color: rgb(220, 220, 220);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

#bigLogo {
    height: 4vh;
    width: 8vw;
    opacity: 0;
    position: absolute;
    margin: auto;
    left: 45vw;
    top: 45vh;
    color: rgb(220, 220, 220);
}

div>p {
    font-size: 14px;
}

p,
h3 {
    color: white;
}

div.logo>h2 {
    font-family: 'LEIXO';
    color: orange;
    font-size: 2.5vw;
    margin-top: 0px;
    position: absolute;
    margin: 30px auto;
    left: 39.1vw;
    top: 60vh;
}

h6 {
    font-family: 'SQR721E';
    top: 32.5vh;
    position: absolute;
    margin: 0.3em auto;
    left: 46vw;
    right: 40%;
    color: rgb(220, 220, 220);
}

.subtitles {
    opacity: 0;
}

.btn-more {
    border: 1px solid gray;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 3rem;
}

.section {
    position: absolute;
    color: white;
    max-width: 70vw;
    flex-direction: column;
    left: 0;
    top: 29vh;
    display: none;
    opacity: 0;
}

.uslugi {
    color: white;
    display: none;
    position: absolute;
    max-width: 90vw;
    left: 0;
    opacity: 0;
    top: 29vh;
}

.uslugi__text {
    display: flex;
    flex-direction: column;
}

.paragraph {
    max-width: 30vw;
    float: left;
}

.paragraph p {
    font-size: 14px;
}

.console {
    border: solid 3px gray;
    height: 300px;
    width: 480px;
    float: right;
    right: 0;
    margin-left: 80px;
    position: relative;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.line-container {
    height: 100%;
    width: 20%;
    margin-right: 0px;
}

.actual-line {
    background-color: white;
    height: 80%;
    width: 2px;
    margin: auto;
    top: 5%;
    position: relative;
}

.number {
    top: 10%;
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
}

.kontakt {
    left: 13vw;
    width: 120vw;
    display: flex;
    position: absolute;
    opacity: 1;
    top: 0;
}

.kontakt__container {
    display: flex;
    flex-direction: row;
    width: inherit;
}

.kontakt__text {
    opacity: 0;
    position: relative;
    flex-direction: column;
    max-width: 24vw;
    left: -10%;
    align-self: center;
}

.map-container {
    opacity: 0;
    position: relative;
    right: -60vw;
    height: 100vh;
    width: 45%;
    background: grey;
}

#wave {
    position: fixed;
    left: 50%;
    top: 44%;
    right: 0;
    z-index: -1;
    max-height: 100vh;
    min-height: 60vh;
    transform: translate(-50%, -50%);
}

.sidebar {
    z-index: 5;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.2rem;
    width: fit-content;
    height: 90vh;
    top: 2rem;
}

li {
    padding-bottom: 1rem;
    width: max-content;
}

.portfolio-sidebar {
    align-items: center;
    position: absolute;
    background: black;
    height: 100vh;
    width: 280px;
    z-index: 6;
    display: none;
    opacity: 0;
    top: 0;
    left: -20rem;
    justify-content: space-between;
    flex-direction: column;
}

.close-btn {
    position: relative;
    top: 0;
    left: -30%;
    margin-top: 10%;
    cursor: pointer;
}

.close-btn>path {
    stroke-dashoffset: 0;
    stroke-dasharray: 30;
}

.close-btn:hover path.one {
    animation: draw-cross 0.5s linear forwards;
}

.close-btn:hover path.two {
    animation: draw-cross 0.5s linear forwards;
    animation-delay: 0.2s;
}

.menu-data {
    align-self: flex-start;
    position: relative;
    left: 17%;
    top: -45%;
}

@keyframes draw-cross {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: -30;
    }
    100% {
        stroke-dashoffset: 0;
    }
}